<section class="advisor{{#if class}} {{class}}{{/if}}">
  <div class="container advisor__inner">
    <h3 class="advisor__heading">Bạn đang theo đuổi nghề Marketing<br>và muốn tìm hiểu về các khóa học<br>tại AIM Academy?</h3>
    {{>button href="#" type="full" text="TƯ VẤN MIỄN PHÍ" class="advisor__button"}}
  </div>
</section>