<section class="section-info">
  <div class="container">
    <h3 class="section-info-heading">CHÀO MỪNG BẠN ĐẾN VỚI AIM ACADEMY</h3>
    
    <p>Marketing là một lĩnh vực vô cùng rộng lớn với nguồn kiến thức không ngừng dịch chuyển mỗi ngày. Dù bạn là người mới chập chững vào ngày hay đã làm lâu năm, hẳn bạn luôn thấy có nhiều điều mình chưa biết và cần cập nhật cho công việc. </p>

    <p>Học marketing ở đâu? Cập nhật kiến thức như thế nào là bài bản nhưng vẫn “đón đầu” xu hướng? Đó là những băn khoăn chung của nhiều marketers. AIM Academy tự hào là trung tâm đào tạo marketing & communication hàng đầu, là điểm đến uy tín của nhiều thế hệ marketers muốn rèn luyện và nâng cấp bản thân mỗi ngày.</p>

    <h4 class="section-info-title">Hệ thống khóa học trải dài mọi phân ngành của marketing</h4>

    <p>Các khóa học về marketing tại AIM Academy được thiết kế đa dạng, từ client side đến agency side, từ cơ bản đến nâng cao, từ thực thi đến chiến lược.</p>

    <h4 class="section-info-title">Đội ngũ giảng viên giàu kinh nghiệm</h4>

    <p>Đồng hành cùng AIM Academy là các giảng viên giàu chuyên môn, công tác tại nhiều loại hình doanh nghiệp, từ các tập đoàn đa quốc gia, đến các doanh nghiệp vừa, nhỏ và startup với kinh nghiệm đa dạng trong nhiều lĩnh vực.</p>

    <h4 class="section-info-title">Là đơn vị tổ chức nhiều cuộc thi và giải thưởng lớn</h4>

    <p>Bên cạnh hoạt động đào tạo, AIM Academy còn hân hạnh là đại diện các cuộc thi và giải thưởng danh giá về marketing & communication tầm cỡ thế giới.</p>

    <p>AIM Academy cũng là đối tác tin cậy của nhiều khách hàng là những tập đoàn, doanh nghiệp lớn và tên tuổi trên thị trường. </p>

  </div>
</section>