<section class="interested-course">
  <h2 class="interested-course__heading">CÁC KHÓA HỌC CÓ THỂ <br>BẠN QUAN TÂM</h2>

  <ul class="interested-course__list">

    <li class="interested-course__item">
      <article class="interested-course__article interested-course__article--hot">
        <div class="interested-course__article-image">
          <img src="common/images/for-individual/img.png" alt="">
        </div>
        <div class="interested-course__article-body">
          <h3 class="interested-course__article-title">DIGITAL PLATFORM MANAGEMENT</h3>
          <p class="interested-course__article-info">
            <span>04/03/2021</span>
            <span>8 BUỔI</span>
            <span>Thứ 3-5-7</span>
          </p>
          {{>button href="#" text="ĐĂNG KÝ" type="border" class="interested-course__article-button"}}
        </div>
      </article>
    </li>

    <li class="interested-course__item">
      <article class="interested-course__article">
        <div class="interested-course__article-image">
          <img src="common/images/for-individual/img.png" alt="">
        </div>
        <div class="interested-course__article-body">
          <h3 class="interested-course__article-title">DIGITAL PLATFORM MANAGEMENT</h3>
          <p class="interested-course__article-info">
            <span>04/03/2021</span>
            <span>8 BUỔI</span>
            <span>Thứ 3-5-7</span>
          </p>
          {{>button href="#" text="ĐĂNG KÝ" type="border" class="interested-course__article-button"}}
        </div>
      </article>
    </li>

    <li class="interested-course__item">
      <article class="interested-course__article">
        <div class="interested-course__article-image">
          <img src="common/images/for-individual/img.png" alt="">
        </div>
        <div class="interested-course__article-body">
          <h3 class="interested-course__article-title">DIGITAL PLATFORM MANAGEMENT</h3>
          <p class="interested-course__article-info">
            <span>04/03/2021</span>
            <span>8 BUỔI</span>
            <span>Thứ 3-5-7</span>
          </p>
          {{>button href="#" text="ĐĂNG KÝ" type="border" class="interested-course__article-button"}}
        </div>
      </article>
    </li>

  </ul>

  <a class="interested-course__button" href="#">Xem tất cả khóa học</a>
</section>