<section class="interested-course-blog">
  <h2 class="interested-course-blog__heading">KHOÁ HỌC LIÊN QUAN</h2>

  <ul class="interested-course-blog__list">

    <li class="interested-course-blog__item">
      <article class="interested-course-blog__article">
        <div class="interested-course-blog__article-image">
          <img src="common/images/for-individual/img.png" alt="">
        </div>
        <div class="interested-course-blog__article-body">
          <a href="#">
            <h3 class="interested-course-blog__article-title">DIGITAL PLATFORM MANAGEMENT</h3>
            <table class="interested-course-blog__article-info">
              <tr>
                <td>Khai giảng</td>
                <td>: 04/03/2021</td>
              </tr>
              <tr>
                <td>Thời lượng</td>
                <td>: 8 BUỔI</td>
              </tr>
              <tr>
                <td>Thời gian</td>
                <td>: Thứ 3-5(19:30 -21:00)  & Thứ 7(19:30 -21:00)</td>
              </tr>
            </table>
          </a>
          
        </div>
      </article>
      <a href="#" class="button button--border interested-course-blog__article-button">
        <span>ĐĂNG KÝ NGAY</span>
        <img src="/common//images/arrow-gradient.svg" alt="">
      </a>
    </li>
    
    <li class="interested-course-blog__item">
      <article class="interested-course-blog__article">
        <div class="interested-course-blog__article-image">
          <img src="common/images/for-individual/img.png" alt="">
        </div>
        <div class="interested-course-blog__article-body">
          <a href="#">
            <h3 class="interested-course-blog__article-title">DIGITAL PLATFORM MANAGEMENT</h3>
            <table class="interested-course-blog__article-info">
              <tr>
                <td>Khai giảng</td>
                <td>: 04/03/2021</td>
              </tr>
              <tr>
                <td>Thời lượng</td>
                <td>: 8 BUỔI</td>
              </tr>
              <tr>
                <td>Thời gian</td>
                <td>: Thứ 3-5(19:30 -21:00)  & Thứ 7(19:30 -21:00)</td>
              </tr>
            </table>
          </a>
          
        </div>
      </article>
      <a href="#" class="button button--border interested-course-blog__article-button">
        <span>ĐĂNG KÝ NGAY</span>
        <img src="/common//images/arrow-gradient.svg" alt="">
      </a>
    </li>

  </ul>

  <a class=" button button--full interested-course-blog__button"  href="#">XEM THÊM</a>
</section>