 <div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item"><a class="pagination__link pagination__link--prev pagination__link--disable" href="#"></a></li>
    <li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">6</a></li>
    <li class="pagination__item"><a class="pagination__link pagination__link--next" href="#"></a></li>
  </ul>
</div>