<section class="related-post">
  <h2 class="related-post__heading">BÀI VIẾT LIÊN QUAN</h2>
  <ul class="related-post__list">
    <li class="related-post__item">
      <a class="related-post__card" href="#">
        <p class="related-post__topic">Channel Optimization - Digital</p>
        <h3 class="related-post__title">Data-Driven Marketing là gì? Tầm quan trọng của data với các quyết định kinh doanh</h3>
      </a>
    </li>
    <li class="related-post__item">
      <a class="related-post__card" href="#">
        <p class="related-post__topic">Channel Optimization - Digital</p>
        <h3 class="related-post__title">6 lỗi sai cơ bản trong quảng cáo Facebook khiến bạn hoang phí ngân sách</h3>
      </a>
    </li>
     <li class="related-post__item">
      <a class="related-post__card" href="#">
        <p class="related-post__topic">Channel Optimization - Digital</p>
        <h3 class="related-post__title">Các định dạng quảng cáo Youtube và 6 phương pháp tạo quảng cáo hiệu quả</h3>
      </a>
    </li>
     <li class="related-post__item">
      <a class="related-post__card" href="#">
        <p class="related-post__topic">Channel Optimization - Digital</p>
        <h3 class="related-post__title">Bạn nghiện Netflix như thế nào? Bí quyết tận dụng A/B Testing và cá nhân hóa trải nghiệm người dùng</h3>
      </a>
    </li>
    <li class="related-post__item">
      <a class="related-post__card" href="#">
        <p class="related-post__topic">Channel Optimization - Digital</p>
        <h3 class="related-post__title">Bạn nghiện Netflix như thế nào? Bí quyết tận dụng A/B Testing và cá nhân hóa trải nghiệm người dùng</h3>
      </a>
    </li>
  </ul>
</section>