<!-- Swiper -->
<div class="testimonial{{#if customClass}} {{customClass}}{{/if}}">
  <div class="swiper-container testimonial-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="testimonial__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis blanditiis ipsa odio provident aliquid? Nulla, dicta! Voluptatem, voluptates beatae molestias quam animi nostrum, et rerum ad laboriosam libero, perspiciatis eaque.</p>
      </div>
      <div class="swiper-slide">
        <p class="testimonial__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="swiper-slide">
        <p class="testimonial__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis blanditiis ipsa odi et rerum ad laboriosam libero, perspiciatis eaque.</p>
      </div>
    </div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
  </div>
  <div class="swiper-container testimonial-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial__pagination">
          <img class="testimonial__pagination-image" src="common/images/business/img-client.png" alt="">
          <div>
            <p class="testimonial__name">Nguyễn Thị Bích Huyền</p>
            <p class="testimonial__position">Kinh doanh tự do</p>
          </div>
        </div>              
      </div>
      <div class="swiper-slide">
        <div class="testimonial__pagination">
          <img class="testimonial__pagination-image" src="common/images/business/img-client.png" alt="">
          <div>
            <p class="testimonial__name">Nguyễn Thị Bích Huyền</p>
            <p class="testimonial__position">Kinh doanh tự do</p>
          </div>
        </div>            
      </div>
      <div class="swiper-slide">
        <div class="testimonial__pagination">
          <img class="testimonial__pagination-image" src="common/images/business/img-client.png" alt="">
          <div>
            <p class="testimonial__name">Nguyễn Thị Bích Huyền</p>
            <p class="testimonial__position">Kinh doanh tự do</p>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>
