<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="author" content="author" />
  <meta name="description" content="description">
  <meta name="keywords" content="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://">
  <meta property="og:image" content="http://">
  <meta property="og:site_name" content="">
  <link rel="icon" href="common/images/favicon_aim-1-192x192.png" sizes="192x192"/>
  <link rel="apple-touch-icon" href="common/images/favicon_aim-1-180x180.png"/>
  <meta name="msapplication-TileImage" content="common/images/favicon_aim-1-270x270.png"/>
  <meta name="theme-color" content="#fff"/>
  <link rel="manifest" href="/manifest.json">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.css" integrity="sha512-T9Nrm9JU37BvYFgjYGVYc8EGnpd3nPDz/NY19X6gsNjb0VHorik8KDBljLHvqWdqz9igNqTBvZY4oCJQer4Xtg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="common/css/common.min.css">

</head>

<body class="">

<!-- Promotion -->
{{>promotion}}

<!-- Header -->
{{>header}}


<!-- Page -->
{{>body}}

<!-- Footer -->
{{>footer}}

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.js" integrity="sha512-VfcksjYXPZW36rsAGxeRGdB0Kp/htJF9jY5nlofHtRtswIB+scY9sbCJ5FdpdqceRRkpFfHZ3a9AHuoL4zjG5Q==" crossorigin="anonymous"></script>
<script async src="common/js/modal.js"></script>
<script async src="common/js/common.min.js"></script>

</body>

</html>