---
dataMenu : [
{'text':'All','active':true},
{'text':'Maketing Management'},
{'text':'Creative/Content Development'},
{'text':'Channel Optimization - Digital'},
{'text':'Channel Optimization - Others'},
{'text':'Soft Skills'},
]

dataYear : [2000,2001,2002,2003,2004]

---
<main class="main main--without-kv blog">
  <div class="container">

    <!-- Menu -->
    <ul class="blog__menu">
      {{#each dataMenu as |item|}}
        <li class="blog__menu-item">
          <a class="blog__menu-link{{#if active}} blog__menu-link--active{{/if}}" href="#">{{item.text}}</a>
        </li>
      {{/each}}
    </ul>

    <div class="blog__detail-heading">
      <div class="blog__detail-info">
        <p>01/03/2021</p>
        <a href="#">
          <img src="common/images/arrow-gradient-left.svg" alt="">
          Trở về Channel Optimization - Digital
        </a>
      </div>
      <h1 class="blog__detail-title">Tối ưu hóa chiến dịch digital mùa Tết về Creative và Media</h1>
      <div class="blog__detail-social">Chia sẻ: 
        <a href="#"><img height="27" src="common/images/ic-fb-gray.svg" alt=""></a>
        <a href="#"><img height="27" src="common/images/ic-inst-gray.svg" alt=""></a>
        <a href="#"><img height="27" src="common/images/ic-linkin-gray.svg" alt=""></a>
      </div>
    </div>

    <div class="blog__detail-body">
      <div class="blog__detail-post">
        <img class="blog__detail-image-feature" src="common/images/blog/img.jpg" alt="">

        <!-- update content -->

        <ul class="blog__detail-anchor">
          <li>
            <a href="#">CREATIVE HAY MEDIA QUAN TRỌNG HƠN?</a>
          </li>
          <li>
            <a href="#">TỐI ƯU CREATIVE (NỘI DUNG SÁNG TẠO)</a>
            <ul>
              <li><a href="#">Những loại nội dung được quan tâm nhất trong mùa tết</a></li>
              <li><a href="#">Top quảng cáo tết thành công nhờ đánh trúng insight</a></li>
              <li><a href="#">Tối ưu material như thế nào?</a></li>
            </ul>
          </li>
          <li>
            <a href="">TỐI ƯU MEDIA</a>
            <ul>
              <li><a href="#">Tiếp cận đối tượng khách hàng quan trọng</a></li>
            </ul>
          </li>
        </ul>

        <p class="blog__detail-intro">
          Chiến dịch Tết luôn là “hố đen” tiêu tiền của mọi thương hiệu. Tiêu tốn nhiều chi phí là thế nhưng không phải cứ đánh là đã thắng. Làm sao để tối ưu hóa chiến dịch mùa Tết năm 2021 của bạn, cả về Nội dung (Creative) lẫn Kênh truyền thông (Media)? Dưới đây là một số kinh nghiệm đúc kết từ các chiến dịch nổi bật Tết 2020 cùng những xu hướng mới nhất của 2021.
        </p>


        <!-- SAMPLE CONTENT -->
        <div class="blog__detail-mainContent">
          <h2>REATIVE HAY MEDIA QUAN TRỌNG HƠN?</h2>
          <h3>NHỮNG LOẠI NỘI DUNG ĐƯỢC QUAN TÂM NHẤT TRONG MÙA TẾT</h3>
          <strong>∙ Music Video (Phim ca nhạc)</strong>
          <img class="blog__detail-image-feature" src="common/images/blog/img.jpg" alt="">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus illum eius suscipit consequuntur hic, tempora, quisquam necessitatibus unde aspernatur neque ab fuga consectetur recusandae molestias iste a nulla. Molestias, magni!
          </p>

          {{!-- Insert mobile related blog --}}
          <div class="blog__detail-related-course-mobile">
            {{>interest-course-blog}}
            <p class="continue-reading"><span>Tiếp tục đọc bài viết</span></p>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus illum eius suscipit consequuntur hic, tempora, quisquam necessitatibus unde aspernatur neque ab fuga consectetur recusandae molestias iste a nulla. Molestias, magni!
          </p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VVSgYrtwxjg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      
        <!-- END SAMPLE CONTENT -->


      </div>

      <div class="blog__detail-sidebar">
        {{>interest-course}}
        {{>related-post}}
      </div>
    </div>
    
  </div>
</main>
{{>advisor}}