<section class="kv kv-career-orientation">
  <div class="container kv__inner">
    <h1 class="kv__title">
      ĐỊNH HƯỚNG<br>NGHỀ NGHIỆP
    </h1>
    <p class="kv__text">Bạn còn băn khoăn về hướng đi và hướng<br>phát triển trong Marketing & Communication?<br>Tham khảo mô hình dưới đây để có cái nhìn <br class='only-pc'>toàn diện nhất về ngành</p>
    <img class="kv__image pc-only" width="444" height="565"  src="common/images/kv/kv-career-orientation.png" alt="">
    {{>button href="#" text="Đánh giá nhu cầu học" type="white" class="kv__button"}}
  </div>
</section>

<main class="main career-orientation">
  <div class="container">

    {{> statistic customStatisticClass="career-orientation__statistic"}}

    {{>box
      title="NGÀNH MARKETING<br class='sp-only'> & COMMUNICATION"
      text="Là ngành rất năng động và thu hút nhiều nhân lực với mong muốn phát triển sự nghiệp lâu dài. <br class='pc-only'>Cánh cửa vào ngành Marketing & Communication luôn rộng mở với các bạn trẻ có đam mê.  <br class='pc-only'>Muốn vào ngành, các bạn cần tìm hiểu hai hướng đi lớn."
      customBoxClass="career-orientation__box"
    }}

    <section class="career-orientation__detail">
    <a class="career-orientation__detail-box" data-toggle='modal' data-target='#career-modal-client' data-toggle='modal'>
        <h2 class="heading career-orientation__detail-title">CLIENT</h2>
        <p class="career-orientation__detail-desc">Client (Khách hàng) là các đơn vị sản xuất và kinh doanh sản phẩm hoặc dịch vụ. Trong bộ máy tổ chức của client có phòng marketing làm nhiệm vụ hoạch định chiến lược marketing. Phòng marketing thuê/ sử dụng các đơn vị bên ngoài cung cấp dịch vụ marketing gọi là agency để tư vấn và thực thi hoạt động marketing và truyền thông.</p>
        <p class="career-orientation__detail-hashtag">#MARKETING@CLIENT</p>
      </a>
      <a class="career-orientation__detail-box" data-toggle='modal' data-target='#career-modal-agency' data-toggle='modal'>
        <h2 class="heading career-orientation__detail-title">AGENCY</h2>
        <p class="career-orientation__detail-desc">Agency là các đơn vị tư vấn, cung cấp dịch vụ marketing theo yêu cầu/ đơn đặt hàng của client. Agency nhận thù lao/ phí tư vấn từ client. Sản phẩm làm ra của agency là giải pháp, ý tưởng sáng tạo, và triển khai ra thực tế. Agency có thể tư vấn/ phục vụ cho nhiều client, nhiều nhãn hàng trong nhiều lĩnh vực, ngành hàng khác nhau. </p>
        <p class="career-orientation__detail-hashtag">#MARKETINGSERVICE@AGENCY</p>
      </a>
    </section>

    <section class="career-orientation__body">
      <div class="career-orientation__content">
        <ul class="career-orientation__list">
          <li class="career-orientation__item">
            <article class="career-orientation__article career-orientation__article--hot">
              <div class="career-orientation__article-image">
                <img src="common/images/career-orientation/img.png" alt="">
              </div>
              <div class="career-orientation__article-body">
                <h3 class="career-orientation__article-heading">ACCOUNT MANAGEMENT</h3>
                <p class="career-orientation__article-subheading">“Lật mặt” một Account “xịn sò”</p>
                <p class="career-orientation__article-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nobis commodi officiis fugiat omnis magni eos, qui tenetur aut, saepe nesciunt. Temporibus iste ratione eos omnis laborum officia quisquam consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, veritatis. Nostrum molestiae illum iure explicabo nulla vel ut labore, earum veritatis repudiandae quasi nemo, soluta suscipit. Rem, optio. Doloremque, ratione!</p>
                <div class="career-orientation__article-footer">
                  {{>button text="Đăng ký xem" type="full"}}
                  {{>button text="Xem trailer" type="border"}}
                </div>
              </div>
            </article>
          </li>

          <li class="career-orientation__item">
            <article class="career-orientation__article">
              <div class="career-orientation__article-image">
                <img src="common/images/career-orientation/img.png" alt="">
              </div>
              <div class="career-orientation__article-body">
                <h3 class="career-orientation__article-heading">ACCOUNT MANAGEMENT</h3>
                <p class="career-orientation__article-subheading">“Lật mặt” một Account “xịn sò”</p>
                <p class="career-orientation__article-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nobis commodi officiis fugiat omnis magni eos, qui tenetur aut, saepe nesciunt. Temporibus iste ratione eos omnis laborum officia quisquam consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, veritatis. Nostrum molestiae illum iure explicabo nulla vel ut labore, earum veritatis repudiandae quasi nemo, soluta suscipit. Rem, optio. Doloremque, ratione!</p>
                <div class="career-orientation__article-footer">
                  {{>button text="Đăng ký xem" type="full"}}
                  {{>button text="Xem trailer" type="border"}}
                </div>
              </div>
            </article>
          </li>

          <li class="career-orientation__item">
            <article class="career-orientation__article">
              <div class="career-orientation__article-image">
                <img src="common/images/career-orientation/img.png" alt="">
              </div>
              <div class="career-orientation__article-body">
                <h3 class="career-orientation__article-heading">ACCOUNT MANAGEMENT</h3>
                <p class="career-orientation__article-subheading">“Lật mặt” một Account “xịn sò”</p>
                <p class="career-orientation__article-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nobis commodi officiis fugiat omnis magni eos, qui tenetur aut, saepe nesciunt. Temporibus iste ratione eos omnis laborum officia quisquam consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, veritatis. Nostrum molestiae illum iure explicabo nulla vel ut labore, earum veritatis repudiandae quasi nemo, soluta suscipit. Rem, optio. Doloremque, ratione!</p>
                <div class="career-orientation__article-footer">
                  {{>button text="Đăng ký xem" type="full"}}
                  {{>button text="Xem trailer" type="border"}}
                </div>
              </div>
            </article>
          </li>
        </ul>
        {{>pagination}}
      </div>

      {{>regis-box customClass="career-orientation__regis" text="Bạn đang theo đuổi nghề Marketing và muốn tìm hiểu về các khóa học tại AIM Academy?" button="TƯ VẤN MIỄN PHÍ"}}
    </section>

  </div>
</main>

{{>advisor class="career-orientation__advisor"}}

<!-- Modal Career Client-->
<div class="modal fade career-modal" id="career-modal-client" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-full-sp">
    <div class="modal-content">
      <img class="modal-close" src="common/images/icon-close-red.svg" aria-label="Close" alt=""
        aria-hidden="true" data-dismiss="modal" aria-label="Close">
      <div class="modal-body">
        <div class="pc-only ">
          <img class="m-a" src="common/images/career-orientation/client-popup.jpg" alt="">
          <a href="#"><img class="button-client" src="common/images/button-client.png" alt=""></a>
          <a href="#" class="button-marketing"><img class="icon-play" src="common/images/icon-play.png" alt=""></a>
        </div>

        <div class="sp-only">
          <h3 class="career-orientation__modal-heading">CLIENT
            <a class="img sp-only" href="#">
              <img src="common/images/icon-play.png" alt="">
            </a>
          </h3>
          <ul class="career-orientation__modal-list">
            <li class="career-orientation__modal-item">TRADE MARKETING</li>
            <li class="career-orientation__modal-item">PRODUCTION</li>
            <li class="career-orientation__modal-item">LOGISTICS</li>
            <li class="career-orientation__modal-item hasChild">
              <input type="checkbox">
              <span class="detail-heading">MARKETING
                <a class="img" href="#">
                  <img class="sp-only" src="common/images/icon-play.png" alt="">
                </a>
              </span>
              <dl>
                <dt>BRAND MANAGEMENT</dt>
                <dd>Marketing Director</dd>
                <dd>Marketing Manager</dd>
                <dd>Senior Brand Manager</dd>
                <dd>Brand Manager</dd>
                <dd>Assistant Brand Manager</dd>
                <dd>Trainee</dd>
              </dl>
              <dl>
                <dt>SUPPORTING FUNCTIONS</dt>
                <dd>Media</dd>
                <dd>Research</dd>
                <dd>Digital</dd>
                <dd>Content</dd>
                <dd>E-commerce</dd>
              </dl>
            </li>
             <li class="career-orientation__modal-item">SALES</li>
             <li class="career-orientation__modal-item">FINANCE</li>
             <li class="career-orientation__modal-item">HR</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Career Agency-->
<div class="modal fade career-modal" id="career-modal-agency" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-full-sp">
    <div class="modal-content">
      <img class="modal-close" src="common/images/icon-close-red.svg" aria-label="Close" alt=""
        aria-hidden="true" data-dismiss="modal" aria-label="Close">
      <div class="modal-body">
        <h3 class="career-orientation__modal-heading sp-only">AGENCY</h3>
        <ul class="career-orientation__modal-list">
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">
              <span class="sp-only">INTEGRATED MARKETING COMMUNICATION/ CREATIVE AGENCY</span>
              <span class="pc-only">INTEGRATED MARCOM/ CREATIVE AGENCY</span>
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Account Management/ Client Service
                <a class="img" href="#">
                  <img src="common/images/icon-play.png" alt="">
                </a>
              </dd>
              <dd>Account Planning/ Strategic Planning
                <a class="img" href="#">
                  <img src="common/images/icon-play.png" alt="">
                </a>
              </dd>
              <dd>Creative/ Content
                <a class="img" href="#">
                  <img src="common/images/icon-play.png" alt="">
                </a>
              </dd>
              <dd>Production</dd>
              <dd>Digital Marketing</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">PUBLIC RELATIONS AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Account Management/ Client Service</dd>
              <dd>Account Planning/ Strategic Planning</dd>
              <dd>Creative/ Content</dd>
              <dd>Media Relations</dd>
              <dd>Digital Marketing</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">EVENT/ ACTIVATION AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Account Management/ Client Service</dd>
              <dd>Event Planning</dd>
              <dd>Creative</dd>
              <dd>Production</dd>
              <dd>Logistics</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">DIGITAL MARKETING AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Account Management/ Client Service</dd>
              <dd>Account Planning/ Strategic Planning</dd>
              <dd>Creative/ Content</dd>
              <dd>Production/ Technology</dd>
              <dd>Social/ Community</dd>
              <dd>Digital Media</dd>
              <dd>SEO</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">MEDIA <br class="pc-only">AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Account Management/ Media Planning</dd>
              <dd>Media Buying</dd>
              <dd>Creative/ Content</dd>
              <dd>Out Of Home</dd>
              <dd>Media Sponsorship</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">MEDIA PUBLISHER
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>

            <dl>
              <dd>Account Management/ Client Service</dd>
              <dd>Campaign Planner</dd>
              <dd>Campaign Creative</dd>
              <dd>Product/ Solutions</dd>
              <dd>Campaign Tech</dd>
              <dd>Campaign Operation</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">MARKET RESEARCH AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>

            <dl>
              <dd>Account Management/ Client Service</dd>
              <dd>Data Science</dd>
              <dd>Data Processing</dd>
              <dd>Fieldwork</dd>
              <dd>Admin</dd>
            </dl>
          </li>
          <li class="career-orientation__modal-item hasChild">
            <input type="checkbox">
            <img class="button-round pc-only" src="common/images/button-round.png" alt="">
            <span class="detail-heading">PRODUCTION AGENCY
              <a class="img" href="#">
                <img class="sp-only" src="common/images/icon-play.png" alt="">
                <img class="pc-only" src="common/images/icon-play-white.png" alt="">
              </a>
            </span>
            
            <dl>
              <dd>Producer/Account Management</dd>
              <dd>Crew</dd>
              <dd>Specialist</dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer-front}}