<section class="kv kv-competition-award">
  <div class="container kv__inner">
    <h1 class="kv__title">
      CUỘC THI<br>GIẢI THƯỞNG
    </h1>
    <p class="kv__text">AIM Academy vinh dự là đơn vị đại diện <br class="pc-only">chính thức của các cuộc thi và giải thưởng <br class="pc-only">về Marketing & Communication tầm cỡ <br class="pc-only">thế giới</p>
    <img class="kv__image pc-only" width="413" height="590"  src="common/images/kv/kv-competition-award.png" alt="">
  </div>
</section>

<main class="main competition-award">
  <div class="container">
    
    {{> statistic customStatisticClass="competition-award__statistic"}}

    {{>box
      title="VIETNAM YOUNG LIONS"
      subtitle="Cùng tài năng trẻ ghi dấu ấn <br class='sp-only'>Việt Nam trên bản đồ <br class='sp-only'>sáng tạo thế giới"
      text="Là cuộc thi danh giá nhất ngành Marketing & Communication, Vietnam Young Lions tìm kiếm những <br class='pc-only'>tài năng trẻ đại diện Việt Nam tranh tài tại Young Lions (Cannes, Pháp) và Young Spikes (Singapore). <br class='pc-only'>Sau nhiều năm tổ chức và cập nhật, cuộc thi trở thành sân chơi quen thuộc của các bạn trẻ yêu <br class='pc-only'>sáng tạo muốn thử sức mình trong \"biển lớn\". Từ năm 2018, Vietnam Young Spikes chính thức được <br class='pc-only'>sáp nhập vào Vietnam Young Lions. "
      customBoxClass="competition-award__box"
    }}

    <ul class="competition-award__box-buttons">
      <li>{{>button type="border" class="competition-award__box-button" href="#" text="Vietnam Young Lions"}}</li>
      <li>{{>button type="border" class="competition-award__box-button" href="#" text="Cannes Lions"}}</li>
      <li>{{>button type="border" class="competition-award__box-button" href="#" text="Spikes Asia"}}</li>
      <li>{{>button type="border" class="competition-award__box-button" href="#" text="Vietnam Young Spikes"}}</li>
    </ul>

    <ul class="competition-award__grid pc-only">
      <li class="competition-award__grid-item big"><img src="common/images/competition-award/competition-img-01.jpg" alt=""></li>
      <li class="competition-award__grid-item"><img src="common/images/competition-award/competition-img-02.jpg" alt=""></li>
      <li class="competition-award__grid-item"><img src="common/images/competition-award/competition-img-03.jpg" alt=""></li>
      <li class="competition-award__grid-item"><img src="common/images/competition-award/competition-img-04.jpg" alt=""></li>
      <li class="competition-award__grid-item"><img src="common/images/competition-award/competition-img-05.jpg" alt=""></li>
    </ul>

    <div class="swiper-container competition-award__grid sp-only">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="common/images/competition-award/competition-img-01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="common/images/competition-award/competition-img-02.jpg" alt=""></div>
        <div class="swiper-slide"><img src="common/images/competition-award/competition-img-03.jpg" alt=""></div>
        <div class="swiper-slide"><img src="common/images/competition-award/competition-img-04.jpg" alt=""></div>
        <div class="swiper-slide"><img src="common/images/competition-award/competition-img-05.jpg" alt=""></div>
      </div>
       <div class="swiper-pagination"></div>
    </div>

     {{>box
      title="YOUTUBE WORKS AWARDS"
      text="YouTube Works là giải thưởng được phát triển bởi Google và Kantar Global, <br class='pc-only'>được hợp tác tổ chức với AIM Academy tại Việt Nam. Giải thưởng tôn vinh <br class='pc-only'>những chiến dịch sáng tạo và hiệu quả nhất trên YouTube."
      customBoxClass="competition-award__box"
    }}

    <ul class="competition-award__box-buttons">
      <li>{{>button type="border" class="competition-award__box-button" href="#" text="YouTube Works Awards"}}</li>
    </ul>


    <ul class="competition-award__gallery pc-only">
      <li class="competition-award__gallery-item">
        <img src="common/images/competition-award/img-01.jpg" alt="">
      </li>
      <li class="competition-award__gallery-item">
        <img src="common/images/competition-award/img-02.jpg" alt="">
      </li>
    </ul>

    <div class="swiper-container competition-award__gallery sp-only">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="common/images/competition-award/img-01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="common/images/competition-award/img-02.jpg" alt=""></div>
      </div>
       <div class="swiper-pagination"></div>
    </div>

  </div>
</main>

{{> footer-front}}