<section class="kv kv-course">
  <div class="container kv__inner">
    <h1 class="kv__title">
      CÁC KHÓA HỌC
    </h1>
    <p class="kv__text">20 môn học bao quát mọi phân ngành<br />trong Marketing & Communication</p>
    <img class="kv__image pc-only" width="1120" height="1205" src="common/images/kv/kv-home-img.png" alt="">
    <div class="kv__button-group">
      {{>button href="#" text="Tư vấn miễn phí" type="white" class="kv__button"}}
      {{>button href="#" text="Đánh giá nhu cầu học" type="white" class="kv__button"}}
    </div>
  </div>
</section>

<main class="main course" >
  <div class="container">
    <ul class="course__category">
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-all">
          <img src="common/images/icon-course-all.svg" alt="">
          <p class="course__category-name">ALL</p>
        </a>
      </li>
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-marketing">
          <img src="common/images/icon-course-marketing.svg" alt="">
          <p class="course__category-name">MARKETING<br>MANAGEMENT</p>
        </a>
      </li>
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-development">
          <img src="common/images/icon-course-development.svg" alt="">
          <p class="course__category-name">CREATIVE/CONTENT<br>DEVELOPMENT</p>
        </a>
      </li>
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-digital">
          <img src="common/images/icon-course-digital.svg" alt="">
          <p class="course__category-name">CHANNEL OPTIMIZATION<br>DIGITAL</p>
        </a>
      </li>
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-optimization">
          <img src="common/images/icon-course-optimization.svg" alt="">
          <p class="course__category-name">CHANNEL OPTIMIZATION<br>OTHERS</p>
        </a>
      </li>
      <li class="course__category-item">
        <a class="course__category-link js-course-cat" href="#section-course-soft-skill">
          <img src="common/images/icon-course-soft-skill.svg" alt="">
          <p class="course__category-name">SOFT SKILLS</p>
        </a>
      </li>
    </ul>

    <h2 class="heading course__heading" id="section-course-all">Tất cả khóa học</h2>

    <section class="course__section" id="section-course-marketing">
      <h3 class="heading heading--medium course__section-heading js-heading-course">MARKETING MANAGEMENT</h3>
      <table class="course__section-table">
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>FRESH</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>HANDS-ON MARKETING (HOM)</td>
          <td>OFFLINE</td>
          <td>FRESH</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>FRESH</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>FRESH</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>FRESH</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="course__section" id="section-course-development">
      <h3 class="heading heading--medium course__section-heading js-heading-course">CREATIVE / CONTENT DEVELOPMENT</h3>
      <table class="course__section-table">
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="course__section" id="section-course-digital">
      <h3 class="heading heading--medium course__section-heading js-heading-course">CHANNEL OPTIMIZATION - DIGITAL</h3>
      <table class="course__section-table">
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="course__section" id="section-course-optimization">
      <h3 class="heading heading--medium course__section-heading js-heading-course">CHANNEL OPTIMIZATION - OTHERS</h3>
      <table class="course__section-table">
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="course__section" id="section-course-soft-skill">
      <h3 class="heading heading--medium course__section-heading js-heading-course">SOFT SKILLS</h3>
      <table class="course__section-table">
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
        <tr>
          <td>BRAND MANAGEMENT EXCELLENCE (BME)</td>
          <td>OFFLINE</td>
          <td>EXPERIENCED</td>
          <td>29/09/2021</td>
          <td>Thứ 3-5-7</td>
          <td>
            <a href="#" download>
              <img src="common/images/icon-download.svg" width="119" height="150" loading="lazy" alt="">
              BROCHURE
            </a>
          </td>
          <td>
            <a href="#">ĐĂNG KÝ</a>
          </td>
        </tr>
      </table>
    </section>
  </div>
</main>

{{>advisor}}
