<section class="kv kv-project">
  <div class="container kv__inner">
    <h1 class="kv__title">
      ĐỒ ÁN<br>TỐT NGHIỆP
    </h1>
    <p class="kv__text">Đồ án tốt nghiệp chọn lọc của học viên AIM Academy - kho tài liệu phong phú về nhiều lĩnh vực trong Marketing & Communication</p>
    <img class="kv__image pc-only" width="413" height="590"  src="common/images/kv/kv-do-an-tot-nghiep-img.png" alt="">
  </div>
</section>

<main class="main">
  <div class="container">
    <div class="project-toolbar">
      <form class="project-form form" action="/">
        <div class="project-search">
          <input type="image" src="common/images/icon-search.svg" alt="Submit" width="22" height="22">
          <input type="search" class="form-control--search" placeholder="Tìm Kiếm">
        </div>
        <div class="project-sort">
          <select class="form-control--sort">
            <option value="" selected disabled hidden>Lọc theo khóa học</option>
            <option value="1">Khóa 1</option>
            <option value="1">Khóa 2</option>
            <option value="1">Khóa 3</option>
            <option value="1">Khóa 4</option>
          </select>
        </div>
      </form>
    </div>

    <div class="project">
      <ul class="project__list">
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
        <li class="project__item">
          <div class="project__card">
            <img width="330" height="453" loading="lazy" src="common/images/project/project-img.jpg" alt="">
            <div class="project__card-body">
              <h3 class="project__card-title">G’EXlife Creative Idea “Don’t Have Sex, Make Love”</h3>
              <p class="project__card-desc">Writing For Ideas</p>
            </div>
            <div class="project__card-footer">
              {{>button type="border" href="#" text="ĐĂNG KÝ XEM" class="project__card-link"}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{> pagination}}
  </div>
  
</main>

{{> footer-front}}