<section class="kv kv-ebook">
  <div class="container kv__inner">
    <h1 class="kv__title">
      KHO EBOOK
    </h1>
    <p class="kv__text">Kho tài liệu kiến thức về Marketing & <br class="sp-only">Communication được minh họa trực quan
      <br class="sp-only">và hấp dẫn giúp bạn củng cố chuyên môn
    </p>
    <img class="kv__image pc-only" width="483" height="628" src="common/images/kv/kv-ebook.png" alt="">
  </div>
</section>

<main class="main ebook">
  <div class="container">
    {{> statistic }}
    <div class="ebook__wrapper">
      <div class="ebook__content">
        <ul class="ebook__list">
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẢY VÀO NGÀNH MARKETING, NHẢY SAO CHO “TRÚNG”?</h2>
                <p class="ebook__card-text">Bức tranh từ toàn cảnh đến chi tiết về những phân ngành trong marketing</p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẬP MÔN DIGITAL MARKETING</h2>
                <p class="ebook__card-text">Hiểu digital toàn diện với kiến thức cập nhật liên tục </p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẢY VÀO NGÀNH MARKETING, NHẢY SAO CHO “TRÚNG”?</h2>
                <p class="ebook__card-text">Bức tranh từ toàn cảnh đến chi tiết về những phân ngành trong marketing</p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẬP MÔN DIGITAL MARKETING</h2>
                <p class="ebook__card-text">Hiểu digital toàn diện với kiến thức cập nhật liên tục </p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẢY VÀO NGÀNH MARKETING, NHẢY SAO CHO “TRÚNG”?</h2>
                <p class="ebook__card-text">Bức tranh từ toàn cảnh đến chi tiết về những phân ngành trong marketing</p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="ebook__item">
            <figure class="ebook__card">
              <img class="ebook__card-img" src="common/images/ebook/img.jpg" alt="">
              <figcaption class="ebook__card-body">
                <h2 class="ebook__card-title">NHẬP MÔN DIGITAL MARKETING</h2>
                <p class="ebook__card-text">Hiểu digital toàn diện với kiến thức cập nhật liên tục </p>
                {{>button href="#" attr="download" text="Tải Ebook" type="border" class="kv__button ebook__card-button"}}
              </figcaption>
            </figure>
          </li>
        </ul>
        {{>pagination}}
      </div>

      <aside class="ebook__sidebar">
        {{>regis-box
            text="Bạn đang theo đuổi<br>nghề Marketing và muốn<br>tìm hiểu về các khóa học<br>tại AIM Academy?" 
            button="TƯ VẤN MIỄN PHÍ</small>"
            customClass="ebook__regis"
        }}
      </aside>
    </div>

  </div>
</main>

{{>advisor class="ebook__advisor"}}

{{> footer-front}}