<section class="kv kv-home">
  <div class="container kv__inner">
    <h1 class="kv__title">
      <span class="kv__subtitle">VIDEO SERIES</span>
      HIỂU NGHỀ ĐỂ<br>CHỌN NGHỀ
    </h1>
    {{>button class="kv__button" text="XEM NGAY" href=true type="white"}}
    <img class="kv__image pc-only" width="1120" height="1205"  src="common/images/kv/kv-home-img.png" alt="">
  </div>
</section>

{{> statistic}}

<section class="home-educate container">
  <div class="home-educate__item">
    <div class="home-educate__content">
      <img class="home-educate__image" loading="lazy" width="153" height="150" src="common/images/icon-edu-01.svg" alt="">
      <div class="home-educate__body">
        <h2 class="heading home-educate__title">ĐÀO TẠO <br class="pc-only">ĐẠI CHÚNG</h2>
        <p>20 môn học Marketing & Communication trải rộng mọi phân ngành, từ phía client đến agency, từ cơ bản đến nâng
          cao, từ chiến lược đến thực chiến</p>
      </div>
    </div>
    <div class="home-educate__footer">
      {{>button href=true text="Xem thêm" type="border"  class="home-educate__button"}}
      {{>button href=true text="Tư vấn ngay" type="border"  class="home-educate__button"}}
    </div>
  </div>
  <div class="home-educate__item">
    <div class="home-educate__content">
      <img class="home-educate__image" loading="lazy" width="115" height="150" src="common/images/icon-edu-02.svg" alt="">
      <div class="home-educate__body">
        <h2 class="heading home-educate__title">ĐÀO TẠO <br>THEO YÊU CẦU</h2>
        <p>Các khóa đào tạo Marketing & Communication thiết kế riêng cho doanh nghiệp, giúp doanh nghiệp luôn đón đầu
          những thay đổi trong công nghệ và hành vi khách hàng</p>
      </div>
    </div>
    <div class="home-educate__footer">
      {{>button href=true text="Xem thêm" type="border" class="home-educate__button"}}
      {{>button href=true text="Gửi yêu cầu đào tạo" type="border" class="home-educate__button"}}
    </div>
  </div>
</section>

<section class="home-competition">
  <div class="container">

    {{>box
      title="CUỘC THI VÀ GIẢI THƯỞNG"
      text=" AIM Academy là đại diện tổ chức Vietnam Young Lions - cuộc thi danh giá nhất<br class='pc-only'>ngành Marketing & Communication, và
        YouTube Works Awards tại Việt Nam - giải<br class='pc-only'> thưởng tôn vinh những chiến dịch sáng tạo trên YouTube"
      buttonText="Xem Thêm"
      customButtonClass="a"
    }}

    <!-- Slider main container -->
    <div class="swiper-container home-competition__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img loading="lazy" width="655" height="550" src="common/images/home/educate-img.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" width="655" height="550" src="common/images/home/educate-img.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" width="655" height="550" src="common/images/home/educate-img.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" width="655" height="550" src="common/images/home/educate-img.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img loading="lazy" width="655" height="550" src="common/images/home/educate-img.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>

<section class="home-career">
  <div class="container">
    {{>box 
      title="KẾT NỐI TUYỂN DỤNG"
      text="Trang tuyển dụng kết nối cơ hội việc làm chất lượng với lực lượng lao động<br class='pc-only'> có trình độ cao trong ngành Marketing
        & Communication"
      buttonText="Xem Thêm"
    }}

    <ul class="home-career__list">
      <li class="home-career__item">
        <a href="#" class="home-career__link">
          <figure>
            <img loading="lazy" width="810" height="841" src="common/images/home/career-img-01.jpg" alt="">
            <figcaption>
              <p class="home-career__title">JOB POSTING</p>
              <p class="home-career__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl </p>
            </figcaption>
          </figure>
        </a>
        <h3 class="home-career__heading">
          JOB POSTING
        </h3>
      </li>
      <li class="home-career__item">
        <a href="#" class="home-career__link">
          <figure>
            <img loading="lazy" width="810" height="841" src="common/images/home/career-img-02.jpg" alt="">
            <figcaption>
              <p class="home-career__title">JOB SEARCHING</p>
              <p class="home-career__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl </p>
            </figcaption>
          </figure>
        </a>
        <h3 class="home-career__heading">
          JOB SEARCHING
        </h3>
      </li>
    </ul>
  </div>
</section>

<section class="home-blog">
  <div class="container">
    <h2 class="heading home-blog__heading">BLOG & TÀI LIỆU</h2>
    
    <!-- Slider main container -->
    <div class="home-blog__swiper">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper home-blog__list">
          <!-- Slides -->
          <div class="swiper-slide home-blog__item">
            <div class="home-blog__article">
              {{>button href=true class="home-blog__button" type="border" text="Đọc tiếp"}}
              <div class="home-blog__body">
                <h3 class="home-blog__title">Tối Ưu Hóa Chiến Dịch Digital Mùa Tết Về Creative Và Media</h3>
                <p class="home-blog__text">Chiến dịch Tết luôn là "hố đen" tiêu tiền của mọi thương hiệu. Tiêu tốn nhiều chi phí là thế nhưng không phải cứ đánh là đã thắng. Làm sao để tối ưu hóa chiến dịch mùa Tết năm 2021 của bạn, cả về Nội dung (Creative) lẫn Kênh truyền thông (Media)? ...</p>
              </div>
              <div class="home-blog__image"><img loading="lazy" src="common/images/home/blog-img.jpg" alt=""></div>
            </div>
          </div>
          <div class="swiper-slide home-blog__item">
            <div class="home-blog__article">
              {{>button href=true class="home-blog__button" type="border" text="Đọc tiếp"}}
              <div class="home-blog__body">
                <h3 class="home-blog__title">Tối Ưu Hóa Chiến Dịch Digital Mùa Tết Về Creative Và Media</h3>
                <p class="home-blog__text">Chiến dịch Tết luôn là "hố đen" tiêu tiền của mọi thương hiệu. Tiêu tốn nhiều chi phí là thế nhưng không phải cứ đánh là đã thắng. Làm sao để tối ưu hóa chiến dịch mùa Tết năm 2021 của bạn, cả về Nội dung (Creative) lẫn Kênh truyền thông (Media)? ...</p>
              </div>
              <div class="home-blog__image"><img loading="lazy" src="common/images/home/blog-img.jpg" alt=""></div>
            </div>
          </div>
          <div class="swiper-slide home-blog__item">
            <div class="home-blog__article">
              {{>button href=true class="home-blog__button" type="border" text="Đọc tiếp"}}
              <div class="home-blog__body">
                <h3 class="home-blog__title">Tối Ưu Hóa Chiến Dịch Digital Mùa Tết Về Creative Và Media</h3>
                <p class="home-blog__text">Chiến dịch Tết luôn là "hố đen" tiêu tiền của mọi thương hiệu. Tiêu tốn nhiều chi phí là thế nhưng không phải cứ đánh là đã thắng. </p>
              </div>
              <div class="home-blog__image"><img loading="lazy" src="common/images/home/blog-img.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
   
    <a class="home-blog__viewmore" href="#">
      Xem tất cả
      <img loading="lazy" width="300" height="31" src="common/images/icon-arrow.svg" alt="">
    </a>
   
  </div>
</section>

<section class="home-ebook">
  <div class="container">
    <ul class="home-ebook__list">
      <li class="home-ebook__item">
        <a href="#" class="home-ebook__link">
          <img class="home-ebook__image" loading="lazy" width="618" height="451" src="common/images/home/ebook-01.jpg" alt="">
          <h3 class="home-ebook__title">KHO EBOOK</h3>
        </a>
      </li>
      <li class="home-ebook__item">
        <a href="#" class="home-ebook__link">
          <img class="home-ebook__image" loading="lazy" width="618" height="451" src="common/images/home/ebook-02.jpg" alt="">
          <h3 class="home-ebook__title">ĐỒ ÁN TỐT NGHIỆP</h3>
        </a>
      </li>
      <li class="home-ebook__item">
        <a href="#" class="home-ebook__link">
          <img class="home-ebook__image" loading="lazy" width="618" height="451" src="common/images/home/ebook-03.jpg" alt="">
          <h3 class="home-ebook__title">DIGITAL TEST</h3>
        </a>
      </li>
      <li class="home-ebook__item">
        <a href="#" class="home-ebook__link">
          <img class="home-ebook__image" loading="lazy" width="618" height="451" src="common/images/home/ebook-04.jpg" alt="">
          <h3 class="home-ebook__title">VIDEO ĐỊNH HƯỚNG<br>NGHỀ NGHIỆP</h3>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="home-event">
  <div class="container">
    <div class="home-event__swiper">
    <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide home-event__article">
            <p class="home-event__cat">SỰ KIỆN</p>
            <h3 class="home-event__title">[SEMINAR] CHINH PHỤC TIKTOK - KHAI PHÁ NGUỒN KHÁCH HÀNG KHỔNG LỒ</h3>
            <img class="home-event__image" loading="lazy" width="614" height="461" src="common/images/home/event-img.jpg" alt="">
            <p class="home-event__text">Năm 2020 có thể gọi là một giai đoạn thử thách chưa từng có đối với nhiều doanh nghiệp. Dù thị trường nhìn chung nhiều sóng gió, nhưng vẫn tồn tại những điểm sáng tích cực để bạn nắm bắt với sự linh hoạt, nhạy bén của người làm kinh doanh. Là chủ doanh nghiệp, nhân sự kinh doanh hay marketing, bạn cần nhìn lại bức tranh tổng quát về thị trường trong năm qua và đề ra hướng đi tiếp theo cho năm 2021 đang đến rất gần.</p>
            {{> button href= true text="Xem thêm" type="border" class="home-event__button"}}
          </div>
          <div class="swiper-slide home-event__article">
            <p class="home-event__cat">SỰ KIỆN</p>
            <h3 class="home-event__title">[SEMINAR] CHINH PHỤC TIKTOK - KHAI PHÁ NGUỒN KHÁCH HÀNG KHỔNG LỒ</h3>
            <img class="home-event__image" loading="lazy" width="614" height="461" src="common/images/home/event-img.jpg" alt="">
            <p class="home-event__text">Năm 2020 có thể gọi là một giai đoạn thử thách chưa từng có đối với nhiều doanh nghiệp. Dù thị trường nhìn chung nhiều sóng gió, nhưng vẫn tồn tại những điểm sáng tích cực để bạn nắm bắt với sự linh hoạt, nhạy bén của người làm kinh doanh. Là chủ doanh nghiệp, nhân sự kinh doanh hay marketing, bạn cần nhìn lại bức tranh tổng quát về thị trường trong năm qua và đề ra hướng đi tiếp theo cho năm 2021 đang đến rất gần.</p>
            {{> button href= true text="Xem thêm" type="border" class="home-event__button"}}
          </div>
          <div class="swiper-slide home-event__article">
            <p class="home-event__cat">SỰ KIỆN</p>
            <h3 class="home-event__title">[SEMINAR] CHINH PHỤC TIKTOK - KHAI PHÁ NGUỒN KHÁCH HÀNG KHỔNG LỒ</h3>
            <img class="home-event__image" loading="lazy" width="614" height="461" src="common/images/home/event-img.jpg" alt="">
            <p class="home-event__text">Năm 2020 có thể gọi là một giai đoạn thử thách chưa từng có đối với nhiều doanh nghiệp. Dù thị trường nhìn chung nhiều sóng gió, nhưng vẫn tồn tại những điểm sáng tích cực để bạn nắm bắt với sự linh hoạt, nhạy bén của người làm kinh doanh. Là chủ doanh nghiệp, nhân sự kinh doanh hay marketing, bạn cần nhìn lại bức tranh tổng quát về thị trường trong năm qua và đề ra hướng đi tiếp theo cho năm 2021 đang đến rất gần.</p>
            {{> button href= true text="Xem thêm" type="border" class="home-event__button"}}
          </div>
          <div class="swiper-slide home-event__article">
            <p class="home-event__cat">SỰ KIỆN</p>
            <h3 class="home-event__title">[SEMINAR] CHINH PHỤC TIKTOK - KHAI PHÁ NGUỒN KHÁCH HÀNG KHỔNG LỒ</h3>
            <img class="home-event__image" loading="lazy" width="614" height="461" src="common/images/home/event-img.jpg" alt="">
            <p class="home-event__text">Năm 2020 có thể gọi là một giai đoạn thử thách chưa từng có đối với nhiều doanh nghiệp. Dù thị trường nhìn chung nhiều sóng gió, nhưng vẫn tồn tại những điểm sáng tích cực để bạn nắm bắt với sự linh hoạt, nhạy bén của người làm kinh doanh. Là chủ doanh nghiệp, nhân sự kinh doanh hay marketing, bạn cần nhìn lại bức tranh tổng quát về thị trường trong năm qua và đề ra hướng đi tiếp theo cho năm 2021 đang đến rất gần.</p>
            {{> button href= true text="Xem thêm" type="border" class="home-event__button"}}
          </div>
          <div class="swiper-slide home-event__article">
            <p class="home-event__cat">SỰ KIỆN</p>
            <h3 class="home-event__title">[SEMINAR] CHINH PHỤC TIKTOK - KHAI PHÁ NGUỒN KHÁCH HÀNG KHỔNG LỒ</h3>
            <img class="home-event__image" loading="lazy" width="614" height="461" src="common/images/home/event-img.jpg" alt="">
            <p class="home-event__text">Năm 2020 có thể gọi là một giai đoạn thử thách chưa từng có đối với nhiều doanh nghiệp. Dù thị trường nhìn chung nhiều sóng gió, nhưng vẫn tồn tại những điểm sáng tích cực để bạn nắm bắt với sự linh hoạt, nhạy bén của người làm kinh doanh. Là chủ doanh nghiệp, nhân sự kinh doanh hay marketing, bạn cần nhìn lại bức tranh tổng quát về thị trường trong năm qua và đề ra hướng đi tiếp theo cho năm 2021 đang đến rất gần.</p>
            {{> button href= true text="Xem thêm" type="border" class="home-event__button"}}
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
  </div>
</section>

{{> footer-front}}