<section class="kv kv-thankyou kv-matching">
  <div class="container kv__inner">
    <h1 class="kv__title">
      KẾT NỐI TUYỂN DỤNG
    </h1>
    <p class="kv__subtitle">(Dịch vụ sắp ra mắt)
      <br/>&SmallCircle;&SmallCircle;&SmallCircle;
    </p>
    <p class="kv__text">Bạn hãy tiếp tục theo dõi <br/>AIM Academy để biết thêm thông tin nhé.</p>
  </div>
</section>