<section class="kv kv-term">
  <div class="container kv__inner">
    <h1 class="kv__title">
      ĐIỀU KHOẢN
      <br />
      & ĐIỀU KIỆN
    </h1>
    <p class="kv__text">
      Điều Khoản và Điều Kiện này có giá trị từ ngày
      <br />
      01/01/2021 và thay thế tất cả những Quy Định,
      <br />
      Điều Khoản và Điều Kiện trước đây.
      <br />
      Trong trường hợp có bất kỳ sai biệt nào giữa bản in
      <br />
      Điều Khoản và Điều Kiện và bản Điều Khoản và
      <br />
      Điều Kiện được đăng tải trên website, bản đăng tải
      <br />
      trên website sẽ được ưu tiên áp dụng.
    </p>
    <img class="kv__image pc-only" width="1190" height="1366" src="common/images/kv/kv-policy.png" alt="" />
  </div>
</section>

<main class="main term">
  <div class="container term__inner">
    <ul class="term__tab js-tab">
      <li class="term__tab-item">
        <a class="term__tab-link js-tab-link active" href="#" data-target="#training">ĐÀO TẠO <br class="sp-only">ĐẠI CHÚNG</a>
      </li>
      <li class="term__tab-item"><a class="term__tab-link js-tab-link" href="#" data-target="#career">KẾT NỐI TUYỂN
          DỤNG</a></li>
      <li class="term__tab-item">
        <a class="term__tab-link js-tab-link" href="#" data-target="#competition">CUỘC THI & GIẢI THƯỞNG</a>
      </li>
    </ul>


    <!--Tab 1 Content -->
    <div class="term__tab-content js-tab-content active" id="training">
      <section class="term__info">
        <h2 class="term__info-heading">CÁC KHÁI NIỆM</h2>
        <div class="term__info-body">
          <ul class="term__info-list">
            <li class="term__info-item">
              <strong>Môn học</strong>
              : Là một ngành học hoặc lĩnh vực học, ví dụ môn học Digital Platform Management hoặc môn học Event
              Management.
            </li>
            <li class="term__info-item">
              <strong>Khóa học hoặc lớp học</strong>
              : Là chu kỳ học của từng môn học, ví dụ khóa Digital Platform Management 01 (DPM01), lớp Event Management
              02 (EM02).
            </li>
            <li class="term__info-item">
              <strong>Buổi học</strong>
              : Là đơn vị nhỏ nhất trong mỗi khóa/ lớp học, ví dụ khóa DPM01 có 08 buổi học, mỗi buổi học kéo dài từ 2.5
              giờ đến 3 giờ.
            </li>
            <li class="term__info-item">
              <strong>Lớp trưởng</strong>
              : Là nhân viên hoặc cộng tác viên của AIM ACADEMY có mặt trong suốt các buổi học để hỗ trợ giảng viên và
              học viên.
            </li>
            <li class="term__info-item">
              <strong>Giáo vụ</strong>
              : Là nhân viên của AIM ACADEMY, làm đầu mối liên lạc mọi thông tin về khoá học bao gồm nhưng không giới
              hạn ở thời gian, địa điểm, tài liệu, tốt nghiệp, và ATC (Bao gồm nhưng không giới hạn ở việc diễn giải, xử
              lý kỷ luật theo ATC).
            </li>
            <li class="term__info-item">
              <strong>Chuyên viên tư vấn phát triển năng lực và sự nghiệp</strong>
              : Là nhân viên của AIM ACADEMY tư vấn về định hướng nghề nghiệp và khóa học, phối hợp cùng giáo vụ và các
              bộ phận khác của AIM ACADEMY trợ giúp học viên trong suốt quá trình học tập của học viên tại AIM ACADEMY.
            </li>
            <li class="term__info-item">
              <strong>Bản cứng ATC</strong>
              : Là bản in của ATC này.
            </li>
            <li class="term__info-item">
              <strong>Bản online ATC</strong>
              : Là bản ATC đăng tải tại website AIM ACADEMY tại
              <a href="#">https://aimacademy.vn/dieu-khoan-dieu-kien/</a>
            </li>
          </ul>
        </div>
      </section>

      <ul class="accordion accordion--term">
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về học phí, chiết khấu và thanh toán</span>
          <div class="accordion__content">
            <ul>
              <li>
                <strong>Học phí</strong>
                <ul>
                  <li>Học phí công bố trên website của AIM ACADEMY đã bao gồm VAT.</li>
                  <li>Học phí có thể thay đổi tuỳ theo chính sách giá của AIM ACADEMY và được cập nhật trên website của
                    AIM ACADEMY.</li>
                </ul>
              </li>
              <li>
                <strong>Phương thức thanh toán</strong>
                <ul>
                  <li>
                    Bằng tiền mặt hoặc cà thẻ qua máy POS
                    <ul>
                      <li>Học viên đóng học phí bằng tiền mặt hoặc cà thẻ qua máy POS tại văn phòng AIM ACADEMY.</li>
                      <li>Học viên phải yêu cầu nhân viên nhận tiền xuất biên nhận cho học viên. AIM ACADEMY không thể
                        thừa nhận việc học viên đã đóng học phí nếu học viên không xuất trình được biên nhận.</li>
                      <li>Học viên được yêu cầu đọc kỹ và hiểu các Điều Khoản và Điều Kiện của AIM ACADEMY (ATC) trước
                        khi đóng học phí. ATC được cung cấp trên website của AIM ACADEMY tại
                        https://aimacademy.vn/dieu-khoan-dieu-kien/. Nội dung của ATC cũng sẽ được cung cấp trên mặt sau
                        của báo giá và trên mặt sau giấy biên nhận đóng học phí của học viên. Học viên thừa nhận việc
                        học viên chấp nhận báo giá và/ hoặc đóng học phí bằng tiền mặt hoặc cà thẻ qua máy POS tại văn
                        phòng của AIM ACADEMY là học viên chấp nhận tuân thủ hoàn toàn ATC.</li>
                    </ul>
                  </li>
                  <li>
                    Bằng chuyển khoản
                    <ul>
                      <li>Học viên đóng học phí bằng cách chuyển khoản theo thông tin dưới đây.
                        <ul>
                          <li class="text-italic">Tên tài khoản: Công Ty Cổ Phần Đào Tạo AIMACADEMY</li>
                          <li class="text-italic">Số tài khoản: 202583039</li>
                          <li class="text-italic">Ngân hàng: Ngân Hàng TMCP Á Châu - Chi nhánh Sài Gòn</li>
                          <li class="text-italic">Nội dung chuyển: [Họ tên] - [SĐT] - HOC PHI - [Khóa học]. Ví dụ:
                            Nguyen Van A - 09XX XXX XXX - HOC PHI - DPM01</li>
                        </ul>
                      </li>
                      <li>Học viên phải chịu phí chuyển khoản (Nếu có).</li>
                      <li>Học viên được yêu cầu đọc kỹ và hiểu các Điều Khoản và Điều Kiện của AIM ACADEMY (ATC) trước
                        khi chuyển khoản học phí. ATC được cung cấp trên website của AIM ACADEMY tại
                        https://aimacademy.vn/dieu-khoan-dieu-kien/. Học viên thừa nhận việc học viên chấp nhận báo giá
                        và/ hoặc chuyển khoản học phí cho AIM ACADEMY là học viên chấp nhận tuân thủ hoàn toàn ATC.</li>
                    </ul>
                  </li>
                  <li>
                    Học phí phải được thanh toán đầy đủ trước ngày khai giảng.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Điều kiện cho các chính sách chiết khấu, ưu đãi</strong>
                <ul>
                  <li>Đối với học viên tự đăng ký
                    <ul>
                      <li>Chính sách ưu đãi và/ hoặc chiết khấu cho học viên tự đăng ký được thông báo trên website của
                        AIM ACADEMY trong từng thời kỳ khác nhau.</li>
                      <li>Để hưởng chính sách chiết khấu, ưu đãi theo Điều 3.a.i - Mục I này thì học viên phải ký quỹ
                        (Đóng cọc) ít nhất 4.000.000 VNĐ trước ít nhất 20 (Hai mươi) ngày và hoàn thành 100% học phí
                        trước ngày khai giảng (Đối với khoá học có học phí bằng hoặc trên 6.500.000 VNĐ); hoặc thanh
                        toán toàn bộ học phí (Đối với khoá học có học phí dưới 6.500.000 VNĐ) ít nhất 20 (Hai mươi) ngày
                        trước ngày khai giảng; hoặc theo quy định khác được thông báo theo từng thời kỳ liên quan đến
                        chính sách chiết khấu, ưu đãi đang được áp dụng.</li>
                    </ul>
                  </li>
                  <li>Đối với học viên được công ty cử đi học/ For learners nominated by companies
                    <ul>
                      <li>AIM ACADEMY có chính sách chiết khấu cho học viên được công ty cử đi học, mức chiết khấu sẽ
                        được thông báo trên website của AIM ACADEMY hoặc thông tin cụ thể đến công ty khi công ty liên
                        hệ AIM ACADEMY.</li>
                      <li>Để hưởng chính sách chiết khấu theo Điều 3.b.i - Mục I này. công ty phải đóng đầy đủ học phí
                        100% cho toàn bộ nhân viên được cử đi học trong một giao dịch trước ít nhất 05 (Năm) ngày trước
                        ngày khai giảng, hoặc theo điều khoản thanh toán thỏa thuận khác giữa AIM ACADEMY và công ty.
                      </li>
                      <li>Công ty cử nhân viên đi học sẽ ký hợp đồng đào tạo với AIM ACADEMY. </li>
                    </ul>
                  </li>
                  <li>Ký quỹ (Đóng cọc)/ Deposit
                    <ul>
                      <li>Tất cả các khoản ký quỹ cho lớp học tại AIM ACADEMY là không hoàn lại trong bất cứ hoàn cảnh
                        nào, trừ trường hợp AIM ACADEMY huỷ lớp học hoặc môn học theo Điều 1.d - Mục II dưới đây.</li>
                      <li>Khoản ký quỹ chỉ có thể được sử dụng/ khấu trừ 01 (Một) lần cho lớp học đầu tiên học viên đăng
                        ký. Trường hợp học viên không thể tham gia lớp học đã đăng ký, học viên phải thông báo bằng văn
                        bản và AIM ACADEMY chỉ bảo lưu khoản ký quỹ cho 01 (Một) lớp học diễn ra tiếp theo trong thời
                        hạn 06 (Sáu) tháng kể từ ngày đóng khoản ký quỹ.</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về ngày khai giảng và lịch học</span>
          <div class="accordion__content">
            <ul>
              <li><strong>Ngày khai giảng</strong>
                <ul>
                  <li>Ngày khai giảng được công bố và cập nhật thường xuyên trên website của AIM ACADEMY. Học viên có
                    trách nhiệm theo dõi cập nhật ngày khai giảng.</li>
                  <li>Nhằm đảm bảo chất lượng lớp học, AIM ACADEMY được quyền thay đổi ngày khai giảng, hoặc thay đổi
                    địa điểm giảng dạy, hoặc huỷ lớp học hoặc môn học, hoặc thay đổi tên lớp học và/ hoặc môn học, thay
                    đổi hoặc hủy một phần hoặc toàn phần nội dung của lớp học hoặc môn học trong các trường hợp, bao gồm
                    nhưng không giới hạn: Lớp học không đạt sĩ số, chất lượng học viên chưa đáp ứng nhu cầu chất lượng
                    của lớp học, giảng viên bận công tác, môn học hoặc lớp học không còn phù hợp, hoặc do Sự Kiện Bất
                    Khả Kháng.</li>
                  <li>AIM ACADEMY sẽ thông báo cập nhật trên website tại từng thời điểm hành động của Điều 1.b. - Mục II
                    này.</li>
                  <li>Trong trường AIM ACADEMY huỷ lớp học, AIM ACADEMY sẽ hoàn lại toàn bộ hoặc phần học phí học viên
                    đã đóng.</li>
                </ul>
              </li>
              <li><strong>Lịch học</strong>
                <ul>
                  <li>Lịch học cho từng buổi học của từng lớp học sẽ được cập nhật thường xuyên trên cổng thông tin
                    tương tác với học viên của AIM ACADEMY, học viên có trách nhiệm theo dõi cập nhật lịch học thường
                    xuyên để tuân thủ quy định của Mục III.</li>
                  <li>AIM ACADEMY được quyền hủy hoặc thay thế buổi học hoặc thay thế giảng viên. Trong trường hợp này,
                    AIM ACADEMY sẽ thông báo bằng email hoặc tin nhắn điện thoại hoặc điện thoại trực tiếp đến từng học
                    viên.</li>
                </ul>
              </li>
              <li>
                <strong>Đăng ký học diễn ra sau ngày khai giảng</strong>
                <ul>
                  <li>Nếu sĩ số lớp học cho phép và chất lượng học viên phù hợp với lớp học, học viên đăng ký học sau
                    ngày khai giảng sẽ được chấp nhận tham gia lớp học.</li>
                  <li>Học viên phải thanh toán đầy đủ toàn bộ học phí quy định của lớp học trước khi tham gia bất cứ
                    buổi học nào.</li>
                  <li>AIM ACADEMY sẽ gửi tài liệu các buổi vắng mặt của học viên do tham gia lớp học sau ngày khai
                    giảng, nhưng sẽ không có trách nhiệm sắp xếp cho học viên học bù các ngày vắng mặt; học viên có
                    trách nhiệm tự nghiên cứu tài liệu.</li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về kỷ luật học tập</span>
          <div class="accordion__content">
            <ul>
              <li>
                <strong>Học viên phải là đích danh cá nhân đăng ký và thanh toán học phí theo biên nhận tương ứng
                </strong>(Nếu có); trừ trường hợp người đăng ký là doanh nghiệp/ tổ chức hoặc phụ huynh hoặc người đăng
                ký giúp. Tuy nhiên trong mọi trường hợp, tên và thông tin cá nhân của người học phải được nêu rõ trong
                bản đăng ký và/ hoặc danh sách đính kèm (Trong trường hợp doanh nghiệp, tổ chức đăng ký cho nhân viên
                của mình).
              </li>
              <li>
                <strong>Đúng giờ</strong>
                <ul>
                  <li>Học viên đi học đúng giờ quy định (7pm hoặc giờ khác do giáo vụ thông báo cho học viên tuỳ từng
                    lớp) và điểm danh vào đầu mỗi buổi học với lớp trưởng.</li>
                  <li>Để đảm bảo chất lượng lớp học, nếu đến muộn quá 30 phút hoặc nghỉ học, học viên thông báo đến giáo
                    vụ bằng email trong vòng 24 giờ trước buổi học.</li>
                  <li>Để đảm bảo chất lượng lớp học, AIM ACADEMY có thể từ chối học viên tham gia buổi học nếu học viên
                    đến muộn quá 30 phút. Trong trường hợp này, học viên được xem là vắng mặt cho buổi học đó.</li>
                </ul>
              </li>
              <li>
                <strong>Thái độ và tinh thần học tập</strong>
                <ul>
                  <li>Để mang lại chất lượng lớp học hữu ích cho tất cả các học viên, học viên cam kết đảm bảo thái độ
                    học tập nghiêm túc, tham gia thực hành đầy đủ, hợp tác và tôn trọng với các giảng viên, học viên
                    khác, các diễn giả khách mời, lớp trưởng và các nhân viên của AIM ACADEMY.</li>
                  <li>Học viên cam kết tuân thủ các yêu cầu về quản lý tổ chức lớp học, buổi học của giảng viên và/ hoặc
                    lớp trưởng và/ hoặc các nhân viên của AIM ACADEMY.</li>
                  <li>Học viên cam kết đảm bảo giữ gìn nguyên trạng những tài sản của AIM ACADEMY được cung cấp, tiếp
                    xúc, sử dụng trong quá trình đào tạo. Vi phạm điều này, học viên cam kết sẽ bồi thường thiệt hại cho
                    AIM ACADEMY hoặc bên thứ ba khác có liên quan.</li>
                  <li>Trong các chuyến đi học tập thực tế (Đi thăm công ty, focus group,..), học viên phải đảm bảo tác
                    phong, trang phục, thái độ lịch sự chuyên nghiệp, tôn trọng các đối tác, nhân viên của AIM ACADEMY,
                    các học viên khác, và các thành viên khác tham gia chuyến đi.</li>
                  <li>Học viên đồng ý rằng việc vi phạm Điều 3 - Mục III sẽ dẫn đến việc học viên bị chấm dứt ngay lập
                    tức việc học tại AIM ACADEMY mà AIM ACADEMY không phải chịu trách nhiệm gì đối với học viên hay bên
                    thứ ba nào khác, và học viên không được hoàn lại học phí.</li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về kỷ luật học tập</span>
          <div class="accordion__content">

          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về tốt nghiệp</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về tài liệu dành cho học viên</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về việc học viên yêu cầu huỷ tham gia lớp học</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về việc học viên yêu cầu chuyển lớp học của cùng môn học hoặc chuyển môn học</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về việc học viên vắng mặt</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về việc học bù</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về bảo mật thông tin</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về bản quyền, sự vi phạm bản quyền, đạo văn, đạo ý tưởng</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về an toàn phòng chống cháy nổ, ma túy, chất độc hại</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Quy định về trường hợp bất khả kháng</span>
          <div class="accordion__content">
            <ul></ul>
          </div>
        </li>
      </ul>
    </div>

    <!--Tab 2 Content -->
    <div class="term__tab-content js-tab-content" id="career">
      <p class="term__note">
        Vui lòng đọc kỹ các Điều khoản và Điều kiện này trước khi truy cập và sử dụng dịch vụ trên website
        marketingandadvertisingjobs.vn của Công ty Cổ phần Đào tạo AIMACADEMY. Bằng việc truy cập và sử dụng website,
        bạn chấp thuận và tuân thủ Điều khoản và Điều kiện này và đồng ý bị ràng buộc bởi các quy định về sử dụng Dịch
        vụ trên website MarketingandAdvertisingJobs. Nếu bạn không đồng ý với bất kỳ nội dung nào của các Điều khoản và
        Điều kiện này, bạn vui lòng không truy cập hay sử dụng Dịch vụ. Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ
        AIM Academy qua email contact@aimacademy.vn.
      </p>
      <section class="term__info">
        <h2 class="term__info-heading">CÁC KHÁI NIỆM</h2>
        <div class="term__info-body">
          <ul class="term__info-list">
            <li class="term__info-item"><strong>Marketingandadvertisingjobs.vn</strong> (sau đây gọi là “Trang web
              MarketingandAdvertisingJobs”)</li>
            <li class="term__info-item"><strong>Công ty Cổ phần Đào tạo AIMACADEMY</strong> (sau đây gọi là “Công ty”)
            </li>
            <li class="term__info-item"><strong>“Cơ sở Dữ liệu AIM Academy”</strong> bao gồm tất cả các bài quảng cáo
              việc làm đăng trên các trang web MarketingandAdvertisingJobs, và/hoặc tất cả thông tin/hồ sơ của các ứng
              viên, và/hoặc đơn đăng ký dự thi của các thí sinh, và/hoặc thông tin của các các nhà tuyển dụng được đăng
              ký với AIM Academy.</li>
            <li class="term__info-item"><strong>“Dịch vụ AIM Academy”</strong> là bất kỳ dịch vụ nào được cung cấp bởi
              AIM Academy.</li>
            <li class="term__info-item"><strong>“Hồ sơ Cá nhân”</strong> là các thông tin, CV cá nhân được tạo bởi Người
              dùng.</li>
            <li class="term__info-item"><strong>“Văn bản”</strong> bao gồm tất cả văn bản trên trang web AIM Academy,
              cho dù là tài liệu có xác định tác giả, các nội dung tìm kiếm có định hướng hay thông tin hướng dẫn.</li>
            <li class="term__info-item"><strong>“Bạn" và/hoặc “Người dùng” và/hoặc “Khách hàng"</strong> đề cập đến bất
              kỳ cá nhân hoặc tổ chức nào sử dụng bất kỳ khía cạnh nào của trang web MarketingandAdvertisingJobs và/hoặc
              các Dịch vụ AIM Academy.</li>
            <li class="term__info-item"><strong>“Nội dung Người dùng”</strong> là tất cả thông tin, dữ liệu, văn bản,
              phần mềm, âm nhạc, âm thanh, hình ảnh, đồ họa, video, quảng cáo, tin nhắn hoặc các tài liệu khác được gửi,
              đăng hoặc biểu thị bởi Người dùng trên hoặc thông qua trang web MarketingandAdvertisingJobs.</li>
          </ul>
        </div>
      </section>

      <ul class="accordion accordion--term">
        <li class="accordion__item">
          <input type="checkbox" />
          <span>DỊCH VỤ CỦA MARKETINGANDADVERTISINGJOBS.VN</span>
          <div class="accordion__content">
            <ul class="term__info-list">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis rem quo doloremque, excepturi,
                quaerat ea accusantium recusandae possimus praesentium laboriosam eos vitae consequuntur blanditiis,
                eaque incidunt vero aliquam. Blanditiis, nulla?
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <!--Tab 3 Content -->
    <div class="term__tab-content js-tab-content" id="competition">
      <p class="term__note">
        By entering Vietnam Young Lions 2020 - 2021, the entrants and participants automatically agree to accept and
        abide by these Official Terms and Conditions. All decisions of the Organizer with respect to any aspect of this
        competition, including without limitation to the eligibility of entries, are final and binding on all entrants
        and participants in all matters as they relate to this competition.
      </p>
      <ul class="accordion accordion--term">
        <li class="accordion__item">
          <input type="checkbox" />
          <span>Definitions</span>
          <div class="accordion__content">
            <ul class="term__info-list">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis rem quo doloremque, excepturi,
                quaerat ea accusantium recusandae possimus praesentium laboriosam eos vitae consequuntur blanditiis,
                eaque incidunt vero aliquam. Blanditiis, nulla?

                <table class="pc-only">
                  <tr>
                    <th>LEAGUE</th>
                    <th>FILM & INTEGRATED</th>
                    <th>DIGITAL</th>
                    <th>MARKETERS</th>
                    <th>PR</th>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                  </tr>
                   <tr>
                    <td>Title</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                    <td>Item</td>
                  </tr>
                </table>

                <table class="sp-only">
                  <tr>
                    <th colspan="2">FILM & INTEGRATED</th>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td>Title</td>
                  </tr>
                  <tr>
                    <td>Item</td>
                    <td>Item</td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>