<section class="kv kv-test-digital">
  <div class="container kv__inner">
    <h1 class="kv__title">
      TRẮC NGHIỆM<br>DIGITAL MARKETING
    </h1>
    <p class="kv__text">Bộ câu hỏi được thiết kế bởi các chuyên gia <br class="sp-only">trong ngành <br class="pc-only">và sử dụng trong tuyển dụng <br class="sp-only">nhân sự các tập đoàn lớn
    </p>
    <img class="kv__image pc-only" width="483" height="628" src="common/images/kv/kv-test-digital.png" alt="">
  </div>
</section>

<main class="main test-digital">
  <div class="container">
    {{> statistic }}
    <div class="test-digital__wrapper">
      <div class="test-digital__content">
        <ul class="test-digital__list">
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">DIGITAL CHALLENGE</h2>
                <p class="test-digital__card-text">Ba gói trắc nghiệm về Digital Marketing theo cấp độ</p>
                <ul class="test-digital-quiz">
                  <li class="test-digital-quiz__item">
                    <img src="common/images/icon-digital-01.svg" alt="">
                    <p>KHÁM PHÁ<span>(50 câu)</span></p>
                  </li>
                  <li class="test-digital-quiz__item">
                    <img src="common/images/icon-digital-02.svg" alt="">
                    <p>BỨT TỐC<span>(75 câu)</span></p>
                  </li>
                  <li class="test-digital-quiz__item">
                    <img src="common/images/icon-digital-03.svg" alt="">
                    <p>CHINH PHỤC<span>(100 câu)</span></p>
                  </li>
                </ul>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">FACEBOOK MARKETING</h2>
                <p class="test-digital__card-text">Bộ trắc nghiệm được chuẩn hóa về Marketing trên Facebook - mạng xã hội quyền lực nhất thế giới hiện nay</p>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">DIGITAL CHALLENGE</h2>
                <p class="test-digital__card-text">Ba gói trắc nghiệm về Digital Marketing theo cấp độ</p>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">FACEBOOK MARKETING</h2>
                <p class="test-digital__card-text">Bộ trắc nghiệm được chuẩn hóa về Marketing trên Facebook - mạng xã hội quyền lực nhất thế giới hiện nay</p>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">DIGITAL CHALLENGE</h2>
                <p class="test-digital__card-text">Ba gói trắc nghiệm về Digital Marketing theo cấp độ</p>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
          <li class="test-digital__item">
            <figure class="test-digital__card">
              <img class="test-digital__card-img" src="common/images/digitaltest/img.jpg" alt="">
              <figcaption class="test-digital__card-body">
                <h2 class="test-digital__card-title">FACEBOOK MARKETING</h2>
                <p class="test-digital__card-text">Bộ trắc nghiệm được chuẩn hóa về Marketing trên Facebook - mạng xã hội quyền lực nhất thế giới hiện nay</p>
                {{>button href="#" text="NHẬN BÀI TEST" type="border" class="kv__button test-digital__card-button"}}
              </figcaption>
            </figure>
          </li>
        </ul>
        {{>pagination}}
      </div>

      <aside class="test-digital__sidebar">
        {{>regis-box
            text="Bạn đang theo đuổi<br>nghề Marketing và muốn<br>tìm hiểu về các khóa học<br>tại AIM Academy?" 
            button="TƯ VẤN MIỄN PHÍ</small>"
            customClass="test-digital__regis"
        }}
      </aside>
    </div>

  </div>
</main>

{{>advisor class="test-digital__advisor"}}

{{> footer-front}}