<section class="kv kv-thankyou">
  <div class="container kv__inner">
    <img width="160" height="160" loading="lazy" src="common/images/ico-thank.svg" alt="">
    <h1 class="kv__title">
      THANK YOU
    </h1>
    <p class="kv__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus commodi dolorem rerum quidem quibusdam.</p>
  </div>
</section>