@charset "utf-8";

@font-face {
  font-family: 'Montserrat';
  src: url(/common/font/MONTSERRAT-BLACK.TTF);
  font-weight: 900;
}
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-EXTRABOLD.OTF);
//   font-weight:800;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-BOLD.OTF);
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-SEMIBOLD.TTF);
//   font-weight:600;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-MEDIUM.TTF);
//   font-weight:500;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-REGULAR.TTF);
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-LIGHT.TTF);
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url(/common/font/MONTSERRAT-THIN.TTF);
//   font-weight: 100;
// }