.ebook {
  @include PC {
    padding-top: 0;
  }
  .statistic{
    @include SP{
      display: none;
    }
  }
  &__wrapper {
    @include PC {
      display: flex;
      margin-top: 0.3rem
    }
  }

  &__regis {
    @include SP {
      display: none;
    }

    .regis-box__text {
      font-weight: 600;

      @include PC {
        @include font(24, 28)
      }
    }
  }

  &__sidebar {
    @include PC {
      width: 4.23rem;
      margin-left: 0.32rem;
    }
  }

  &__content {
    @include PC {
      flex: 1;
    }
    @include SP{
      margin: 0.1rem 0 0;
    }
  }

  &__item {
    border: 1px solid #999999;

    @include PC {
      border-radius: 6px;
      padding: 0.15rem;
    }
    @include SP {
      border-radius: 2px;
      padding: 0.08rem;
    }
    &:not(:last-child){
      @include PC{
        margin-bottom: 0.2rem;
      }
      @include SP{
        margin-bottom: 0.1rem;
      }
    }
  }

  &__card {
    display: flex;

    &-img {
     
      @include image-fit(top, cover);
      @include PC {
        width: 3.32rem;
        height: 2.46rem;
        margin-right: 0.3rem;
        border-radius: 11px;
      }
      @include SP{
        width: 1.08rem;
        height: 0.68rem;
        margin-right: 0.2rem;
        border-radius: 3px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1
    }

    &-title {
      @include text-gradient(to left);
      font-weight: 900;

      @include PC {
        @include font(31, 40);
      }
      @include SP {
        @include font(14,18);
      }
    }

    &-text {
      @include PC {
        @include font(20, 24);
        margin-bottom: 0.2rem;
        margin-top: 0.1rem;
      }
      @include SP{
        @include font(11,14);
        margin-bottom: 0.15rem;
        margin-top: 0.05rem;
      }
    }

    &-button {
      justify-self: flex-end;
      margin-top: auto;

      @include PC {
        padding: 0.1rem 0.2rem;
      }

    }
  }
  &__advisor{
    @include PC{
      display: none;
    }
  }
}