.gallery{
  &.main--without-kv{
    @include SP{
      padding-top: 00.55rem;
    }
  }
  &__menu{
    @include SP{
      display: none;
    }
  }
  &__list {
    @include grid;
    @include PC{
      margin-top: 0.48rem
    }
    @include SP{
      margin-top: 0.35rem
    }
  }
  &__item {
    @include PC{
      @include grid__item(4);
    }
    @include SP{
      @include grid__item(1);
    }
  }
  &__card {
    position: relative;
    overflow: hidden;

    @include PC {
      border-radius: 15px;
      @include background-gradient(to top);
      height: 100%;

      &:hover {
        cursor: pointer;
        .gallery__card-footer{
          opacity: 1;
        }
      }
    }
    @include SP {}

    img {
      width: 100%;
      @include image-fit(center);

      @include PC {
        height: 4.51rem
      }

      @include SP {
        height: 1.78rem;
        border-radius: 15px;
        @include background-gradient(to top);
      }
    }

    &-body {
      height: 100%;
      @include PC {
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7));
        @include absolute(top 0 left 0 right 0 bottom 0);
        padding: rem(38) rem(17);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
      }
      @include SP{
        text-align: center;
        padding: 0 rem(23);
        margin-top: rem(10);
      }
    }
    &-footer{
      @include PC{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition;
        z-index: 1;
        opacity: 0;
        &:before{
          content:'';
          z-index: -1;
          background: rgba(black,0.5);
          position: absolute;
          top: 0;
          left:0;
          width: 100%;
          height: 100%;
        }
      }
      @include SP{
        text-align: center;
      }
    }
  }
  &__title {
    font-weight: 600;
    @include PC {
      @include font(22, 26)
    }
    @include SP {
      @include font(16,19)
    }
  }
  &__date {
    display: block;
    @include PC {
      @include font(18, 26);
      margin-top: 0.05rem;
    }
    @include SP {
      @include font(12,19);
      margin-top:0.05rem;
    }
  }
  &__swiper{
    @include PC{
      margin: 0.38rem 0 0;
    }
    @include SP{
      margin: 0 -0.2rem;
    }
    img{
     
      width: 100%;
      @include SP{
        height: 2.39rem;
        @include image-fit(center);
      }
      @include PC{
        height: 5.46rem;
      }
    }
    .swiper-pagination{
      @include PC{
        display: block;
      }
    }
  }
  &__button{
    font-weight: 600;
    @include PC{
      padding: 0.1rem 0.3rem;
      @include background-gradient(to right);
      @include font(18,22);
    }
    @include SP{
      padding: 0.07rem 0.2rem;
      margin: 0.1rem auto 0;
    }
  }
  &__tab{
    @include SP{
      margin-top: 0.05rem;
    }
  }
}