<div class="hom-detail hom-necessary" id="hom-necessary">
  <h3 class="sp-only">SỰ CẦN THIẾT KHÓA HỌC</h3>
  <input type="checkbox" class="sp-only">
  <div class="hom-detail__body">
    <ul class="hom-detail__list">
      <li class="hom-detail__item">Kiến thức marketing có thể dễ dàng tìm thấy trên mạng hoặc học từ giảng đường đại học. Tuy nhiên, marketing là ngành liên tục thay đổi, đòi hỏi người học vừa phải nắm vững nền tảng để không sa đà theo trào lưu, vừa phải nắm bắt được xu hướng mới nhất để phục vụ cho công việc.</li>
      <li class="hom-detail__item">Khóa học Hands-on Marketing được thiết kế bởi những chuyên gia marketing dày dặn kinh nghiệm từ các tập đoàn lớn. Họ đã chắt lọc những kiến thức tinh tuý và thiết yếu nhất dành cho những người mới bắt đầu hoặc không có nền tảng về marketing. Đặc biệt, khoá học đề cao tính ứng dụng để người học có thể triển khai vào doanh nghiệp của mình, từ vừa và nhỏ đến quy mô lớn. Vì vậy, khóa học này là nền tảng không thể bỏ qua cho những ai yêu thích marketing và quyết tâm phát triển vững chắc trong lĩnh vực này.</li>
    </ul>
  </div>
  {{>hom-button}}
</div>