<div class="hom-detail hom-content" id="hom-content">
  <h3 class="sp-only">NỘI DUNG KHÓA HỌC</h3>
  <input type="checkbox" class="sp-only">
  <div class="hom-detail__body">
    
    <!-- new update -->
    <aside class="hom-content__aside pc-only">
      <ul class="hom-content__aside-list">
        <li class="hom-content__aside-item">
          <a href="#" class="hom-content__aside-link js-hom-content active" data-target="#general">
            Tổng Quan Về <br>Marketing Và <br>Nguồn Tăng Trưởng
          </a>
        </li>
        <li class="hom-content__aside-item">
          <a href="#" class="hom-content__aside-link js-hom-content" data-target="#consumer">
            Consumer <br>Understanding
          </a>
        </li>
        <li class="hom-content__aside-item">
          <a href="#" class="hom-content__aside-link js-hom-content" data-target="#media">
            Truyền Thông <br>Tích Hợp (IMC)
          </a>
        </li>
        <li class="hom-content__aside-item">
          <a href="#" class="hom-content__aside-link js-hom-content" data-target="#trade">
            Trade Marketing
          </a>
        </li>
        <li class="hom-content__aside-item">
          <a href="#" class="hom-content__aside-link js-hom-content" data-target="#end-course">
            Thuyết Trình <br>Cuối Khoá
          </a>
        </li>
      </ul>
    </aside>

    <div class="hom-content__right">

      <article class="hom-content__article active" id="general">
        <span class="sp-only js-hom-content-sp hom-content__article-menu"></span>
        <h4 class="hom-content__article-title">TỔNG QUAN VỀ MARKETING VÀ NGUỒN TĂNG TRƯỞNG</h4>
        <div class="hom-content__article-body">
          <p>Marketing là gì? Có những cơ hội và thách thức gì khi theo đuổi sự nghiệp marketing? Học phần mở đầu này cung
            cấp định hướng và kim chỉ nam cho những ai yêu thích marketing. Đồng thời học phần cũng định hướng tư duy
            marketing với sự phân tích chuyên sâu về nguồn tăng trưởng.</p>

          <h5 class="text-gradient">Buổi 1: Tổng quan về Marketing</h5>
          <ul>
            <li>Nắm bắt bức tranh toàn cảnh về ngành marketing</li>
            <li>Hiểu và phân biệt những định nghĩa, vai trò và quá trình phát triển của ngành marketing</li>
            <li>Xác định trách nhiệm chính và nhiệm vụ của marketers</li>
            <li>Làm quen với những thuật ngữ phổ biến trong marketing: STP (Segmentation, targeting, positioning), 4Cs
              (Category, consumer, company, competition), 6Ps (Product, price, place, promotion, packaging, proposition),
              IMC (Integrated marketing communication)… thông qua những mô hình thực tế và những ứng dụng thành công từ
              các tập đoàn đa quốc gia (MNCs – Multinational companies)</li>
            <li>Hiểu mối tương quan giữa phòng marketing với các đối tác trong và ngoài công ty</li>
            <li>Xác lập con đường phát triển sự nghiệp trong ngành marketing với lựa chọn theo định hướng khách hàng
              (Client) hoặc công ty tư vấn dịch vụ marketing (Agency)</li>
          </ul>

          <h5 class="text-gradient">Buổi 2: Nguồn tăng trưởng và phân tích 4Cs</h5>
          <ul>
            <li>Xác định các mục tiêu kinh doanh và mục tiêu marketing</li>
            <li>Thấu hiểu tại sao “tăng trưởng – growth” là mục đích tối thượng của marketing</li>
            <li>Tìm kiếm các nguồn tăng trưởng</li>
            <li>Nắm bắt cách phân tích 4Cs để tìm kiếm nguồn tăng trưởng phù hợp nhất để thoả mãn mục tiêu marketing</li>
            <li>Khám phá các động thái chiến lược để khai thác nguồn tăng trưởng</li>
          </ul>
        </div>
      </article>

      <article class="hom-content__article" id="consumer">
        <span class="sp-only js-hom-content-sp hom-content__article-menu"></span>
        <h4 class="hom-content__article-title">CONSUMER UNDERSTANDING</h4>
        <div class="hom-content__article-body">
          <p>Thấu hiểu người tiêu dùng luôn bắt đầu từ việc thu hẹp vào phân khúc thị trường. Học phần này giới thiệu mô
            hình STP bao gồm phân khúc thị trường (Segmentation), nhắm chọn người tiêu dùng (Targeting), và định vị thương
            hiệu (Positioning). Tiếp đến là việc khai phá sự thật ngầm hiểu (Consumer insights) và phát triển ý tưởng sản
            phẩm mới (New product concept development).</p>

          <h5 class="text-gradient">Buổi 3: Phân khúc thị trường (Market segmentation), nhắm chọn người tiêu dùng (Target
            consumer), và định vị thương hiệu (Brand positioning)</h5>
          <ul>
            <li>Hiểu về nền tảng thị trường và công cụ căn bản để xác định: Phân khúc thị trường, đối tượng mục tiêu,
              người tiêu dùng mục tiêu, chân dung người dùng</li>
            <li>Phát triển định vị thương hiệu (Brand positioning)</li>
            <li>Sử dụng công cụ để xây dựng định vị thương hiệu</li>
            <li>Nắm bắt cách đánh giá định vị thương hiệu</li>
            <li>Thực hành viết định vị thương hiệu đúng cách</li>
          </ul>

          <h5 class="text-gradient">Buổi 4: Sự thật ngầm hiểu (Consumer insight) và phát triển ý tưởng sản phẩm (Concept
            development)</h5>
          <ul>
            <li>Sự thật ngầm hiểu (Consumer insight)<br>
              • Thấu hiểu về sự thật ngầm hiểu
            </li>

            <li>Nhận biết tầm quan trọng của sự thật ngầm hiểu<br>
              • Tiếp thu những kỹ thuật nắm bắt sự thật hoặc chân lý (Moment of truth)
            </li>

            <li>Phát triển ý tưởng sản phẩm (Concept development)<br>
              • Hiểu định nghĩa và tầm quan trọng của ý tưởng sản phẩm<br>
              • Xác định các yếu tố chính cấu thành nên một ý tưởng sản phẩm<br>
              • Khám phá các nguyên tắc trọng yếu để phát triển một ý tưởng sản phẩm<br>
              • Thực hành phát triển bảng mô tả ý tưởng sản phẩm
            </li>
          </ul>
        </div>
      </article>

      <article class="hom-content__article" id="media">
        <span class="sp-only js-hom-content-sp hom-content__article-menu"></span>
        <h4 class="hom-content__article-title">TRUYỀN THÔNG TÍCH HỢP (IMC)</h4>
        <div class="hom-content__article-body">

          <p>Chưa bao giờ IMC trở nên quan trọng như bây giờ khi thế giới truyền thông ngày càng trở nên phức tạp. Học
            phần này cung cấp bức tranh toàn cảnh những công cụ được áp dụng trong truyền thông tích hợp, và đặc biệt nhấn
            mạnh vào digital marketing.</p>

          <h5 class="text-gradient">Buổi 5: Truyền thông tích hợp (IMC-Intergrated marketing communication)</h5>
          <ul>
            <li>Thấu hiểu mục đích và vai trò của truyền thông, đặc biệt là những khả năng và giới hạn của truyền thông
            </li>
            <li>Nắm bắt và ứng dụng “Bản đồ tác vụ truyền thông – Communication task map”</li>
            <li>Biết cách xác lập các mục tiêu truyền thông và cách đo lường</li>
            <li>Bước vào thế giới IMC và thực hiện 6 bước hoạch định IMC:<br>
              • Tổng quan về IMC: Cụ thể IMC là gì và những ứng dụng thành công về IMC<br>
              • 6 bước hoạch định IMC: Thấu hiểu người tiêu dùng và xác lập mục tiêu; bản yêu cầu IMC (Brief); đề xuất ý
              tưởng lớn; hoạch định các điểm tương tác với người dùng; triển khai và đo lường; tổng kết và rút ra bài học<br>
              • Bản yêu cầu IMC (Brief): Cách viết bản yêu cầu đạt chất lượng<br>
              • Ý tưởng lớn: Đánh giá ý tưởng sáng tạo dựa trên công thức “ABC”<br>
              • Hoạch định các điểm tương tác với người dùng<br>
              • Thực thi:<br>
              - Giới thiệu về truyền thông tổng hoà (Promotion mix): Advertising, PR, experience marketing, direct
              marketing, promotion…<br>
              - Giới thiệu về truyền thông truyền thống: TVC, billboard, LCD/digital frame, OOHs, KOLs, radio…
            </li>
          </ul>

          <h5 class="text-gradient">Buổi 6: Digital marketing</h5>
          <ul>
            <li>Phân biệt sự khác nhau giữa marketing và digital marketing</li>
            <li>Vẽ ra bản đồ hành trình mua hàng trên môi trường digital</li>
            <li>Nắm vững định nghĩa, vai trò của 3 kênh paid – owned – earned</li>
            <li>Liệt kê những nền tảng digital phổ biến: Tìm kiếm (Search), mạng xã hội (social), hiển thị (Display), video…</li>
            <li>Hiểu các thuật ngữ cơ bản trong digital marketing</li>
          </ul>
        </div>
      </article>

      <article class="hom-content__article" id="trade">
        <span class="sp-only js-hom-content-sp hom-content__article-menu"></span>
        <h4 class="hom-content__article-title">TRADE MARKETING</h4>
        <div class="hom-content__article-body">
          <p>Thấu hiểu về shopper marketing là điều bắt buộc đối với bất kỳ chuyên gia thương hiệu hay chuyên gia
            marketing ngày nay. Đây là lợi thế giúp tác động vào quyết định mua hàng của người mua tại điểm bán</p>

          <h5 class="text-gradient">Buổi 7: Trade marketing</h5>
          <ul>
            <li>Thấu hiểu hệ thống phân phối và độ phủ của sản phẩm</li>
            <li>Tìm hiểu về cách phân loại kênh: Kênh bán lẻ hiện đại (Modern trade – MT), kênh bán lẻ truyền thống
              (General trade – GT), kênh thương mại điện tử (E-commerce)</li>
            <li>Đánh giá tổng quan về hành trình mua hàng (Path to purchase)</li>
            <li>Phân tích và nắm bắt hành vi mua hàng (Shopping behavior) để từ đó ứng dụng vào các hoạt động bán hàng
            </li>
            <li>Thấu hiểu về khuyến mãi và chiến lược khuyến mãi</li>
          </ul>
        </div>
      </article>

      <article class="hom-content__article" id="end-course">
        <span class="sp-only js-hom-content-sp hom-content__article-menu"></span>
        <h4 class="hom-content__article-title">THUYẾT TRÌNH CUỐI KHOÁ</h4>
        <div class="hom-content__article-body">
          <h5 class="text-gradient">Buổi 8: Thuyết trình cuối khoá</h5>
          <ul>
            <li>Trình bày kế hoạch marketing cho một sản phẩm cụ thể dựa trên phân tích 4Cs, STP, sự thật ngầm hiểu
              (Consumer insight), và 6Ps với sự tập trung vào IMC</li>
            <li>Tiếp nhận những đóng góp và phản hồi từ giảng viên</li>
            <li>Q&A</li>
          </ul>
        </div>
      </article>
        
      {{>hom-button}}
    </div>

    <!-- end new update -->
  </div>
</div>