<div class="hom-detail hom-benefit active" id="hom-benefit">
  <h3 class="sp-only">LỢI ÍCH CỦA KHÓA HỌC</h3>
  <input type="checkbox" class="sp-only">
   <div class="hom-detail__body">
    <ul class="hom-detail__list">
      <li class="hom-detail__item">Nền tảng kiến thức chuẩn mực và thực tế nhất về marketing được đúc kết từ những ứng dụng thành công bởi các tập đoàn trong và ngoài nước tại Việt Nam</li>
      <li class="hom-detail__item">Thiết kế đặc biệt phù hợp cho mọi đối tượng quan tâm đến marketing từ sinh viên, đến nhân sự trái ngành, chuyên viên marketing thuộc khách hàng, chuyên viên truyền thông thuộc agency, chủ doanh nghiệp vừa, nhỏ, và siêu nhỏ</li>
      <li class="hom-detail__item">Cập nhật liên tục những ứng dụng mới nhất trong lĩnh vực marketing</li>
      <li class="hom-detail__item">Dẫn dắt bởi đội ngũ giảng viên là những chuyên gia marketing dày dạn kinh nghiệm</li>
      <li class="hom-detail__item">Đặc biệt với buổi hướng dẫn (Mentoring) giúp gỡ rối những khó khăn trong nghề hoặc những thắc mắc khi ứng dụng marketing trong thực tế</li>
      <li class="hom-detail__item">Bài tốt nghiệp giúp học viên vận dụng toàn bộ kiến thức đã học để thiết lập kế hoạch marketing cho một sản phẩm thuộc tập đoàn đa quốc gia hoặc một sản phẩm thuộc startup Việt</li>
      <li class="hom-detail__item">Khóa học thu hút đông đảo học viên nhất của AIM Academy</li>
      <li class="hom-detail__item">Kết nối tuyển dụng, giới thiệu cơ hội việc làm</li>
    </ul>
  </div>
  {{>hom-button}}
</div>