<ul class="hom-tab__list">
  <li class="hom-tab__item">
    <a class="hom-tab__link js-hom-tab active" href="#" data-target="#hom-benefit">LỢI ÍCH CỦA <br class='pc-only'>KHÓA HỌC</a>
  </li>
  <li class="hom-tab__item">
    <a class="hom-tab__link js-hom-tab" href="#" data-target="#hom-object">ĐỐI TƯỢNG HỌC</a>
  </li>
  <li class="hom-tab__item">
    <a class="hom-tab__link js-hom-tab" href="#" data-target="#hom-content">NỘI DUNG <br class='pc-only'>KHÓA HỌC</a>
  </li>
  <li class="hom-tab__item">
    <a class="hom-tab__link js-hom-tab" href="#" data-target="#hom-necessary">SỰ CẦN THIẾT <br class='pc-only'>CỦA KHÓA HỌC</a>
  </li>
  <li class="hom-tab__item">
    <a class="hom-tab__link js-hom-tab" href="#" data-target="#hom-trainer">GIẢNG VIÊN <br class='pc-only'>KHÓA HỌC</a>
  </li>
</ul>