<ul class="hom-box{{#if class}} {{class}}{{/if}}">
  <li class="hom-box__item">
    <p class="hom-box__subtitle">KHÓA HỌC</p>
    <h4 class="hom-box__title">HANDS-ON MARKETING</h4>
    <p class="hom-box__schedule">
      Khai giảng: 13/04/2021 <br>
      Thứ 3-5 (19h00-21h30) & Thứ 7 (14h00-16h30) 
    </p>
    <div class="hom-box__button-group">
      <a class="hom-box__button" href="#">ĐĂNG KÝ</a>
      <a class="hom-box__button" href="#">DOWNLOAD BROCHURE</a>
    </div>
  </li>
  <li class="hom-box__item">
    <p class="hom-box__subtitle">KHÓA HỌC</p>
    <h4 class="hom-box__title">HANDS-ON MARKETING</h4>
    <p class="hom-box__schedule">
      Khai giảng: 13/04/2021 <br>
      Thứ 2-4-6 (19h00-21h30)
    </p>
    <div class="hom-box__button-group">
      <a class="hom-box__button" href="#">ĐĂNG KÝ</a>
      <a class="hom-box__button" href="#">DOWNLOAD BROCHURE</a>
    </div>
  </li>
</ul>