<div class="hom-detail hom-object" id="hom-object">
  <h3 class="sp-only">ĐỐI TƯỢNG HỌC</h3>
  <input type="checkbox" class="sp-only">
   <div class="hom-detail__body">
    <ul class="hom-detail__list">
      <li class="hom-detail__item">Sinh viên hoặc các bạn trẻ vừa tốt nghiệp với mong muốn bước vào ngành Marketing & Communication nhưng chưa có sự trang bị kiến thức bài bản và thực tế</li>
      <li class="hom-detail__item">Chuyên viên marketing hoặc truyền thông thuộc khách hàng (Client) hoặc agency cần củng cố và hệ thống hoá kiến thức marketing với chuẩn mực cao để áp dụng vào công việc</li>
      <li class="hom-detail__item">Những bạn trái ngành cần thâm nhập vào thế giới Marketing & Communication và chuẩn bị tham gia vào các khóa học chuyên sâu tại AIM Academy</li>
    </ul>
  </div>
  {{>hom-button}}
</div>