<div class="hom-detail hom-trainer" id='hom-trainer'>
  <h3 class="sp-only">GIẢNG VIÊN KHÓA HỌC</h3>
  <input type="checkbox" class="sp-only">
  <div class="hom-detail__body">
    <ul class="trainer__list">
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
      <li class="trainer__item">
        <figure class="trainer__card">
          <div class="trainer__image">
            <img src="common/images/trainer/img.png" alt="">
          </div>
          <figcaption class="trainer__info">
            <p class="trainer__name">NGUYỄN NHƯ THẠCH TRÚC</p>
            <p class="trainer__position">Chief Executive Officer</p>
            <p class="trainer__company">APPROI</p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>  
  {{>hom-button}}
</div>
